[2013-02-22 00:47] eried opened #1 "Exception: missing OAuth token for authorize URL"
<b>Fatal error</b>:  Uncaught exception 'Exception' with message 'To get the authorize URL, the OAuth token must be set.

0 C:\xampp\htdocs\test1\index.php(69): Codebird-&gt;oauth_authorize()
#1 {main}

Any hint?

[2013-02-26 13:21] ghost opened #2 "How is Twitter's Ratelimit handled?"
There is this line:
$httpstatus = curl_getinfo($ch, CURLINFO_HTTP_CODE);

But I don't see no exception or message returned.

[2013-03-04 12:46] noxidsoft opened #3 "Expired token"
Getting an expired token notice from the return, does your code regenerate the signature each time, any ideas?:

Array ( [errors] => Array ( [0] => stdClass Object ( [message] => Invalid or expired token [code] => 89 ) ) [httpstatus] => 401 )

[2013-03-06 12:40] AlfredJ opened #4 "Cursor issue"
Sorry to bother with this, might be a stupid question, but how do I work with the 'cursor' setting?

For example: if you retrieve a followers list, you can go to the next page by giving a cursor param in the url.

See: https://dev.twitter.com/docs/api/1.1/get/followers/list and https://dev.twitter.com/docs/misc/cursoring

Is this option missing, or am I doing something wrong? Besides that: very us

[2013-03-07 21:42] #2 closed, assigned to nobody

[2013-03-09 03:12] kevin7 opened #5 "search/tweets"
Hi, I was trying to retrieve list of tweets based on the search API search/tweets. This is my code:

[code]

It works with user_timeline, but i can't get it working with search.

[2013-03-10 18:03] #4 closed, assigned to nobody

[2013-03-12 14:20] ZweiSteinSoft opened #6 "Support application-only auth"
https://dev.twitter.com/docs/auth/application-only-auth

[2013-03-13 06:54] #3 closed, assigned to nobody

[2013-03-13 06:55] #5 closed, assigned to nobody

[2013-03-18 23:48] #6 closed, assigned to nobody

[2013-03-19 20:57] trevorgehman opened #7 "Posting status update adding slashes (escaping double & single quotes)"
Here is my code:

`$twitter_text = "This is 'sample' text & it causes problems.";
$reply = $cb->statuses_update('status='.urlencode($twitter_text));`

If I don't use urlencode() the tweet gets cut off at the ampersand. With or without urlencode() single quotes show up as \' and the double quotes show up as \"

I've tried using stripslashes() to no effect.

[2013-03-23 20:51] ZweiSteinSoft opened #8 "OAuth broken"
In Codebird 2.3.0, when trying to authenticate with OAuth and callback, you will always receive the following error:

This is due to changes in the way how Codebird sends the authentication data.

**Please upgrade to Codebird 2.3.1.**

[2013-03-23 21:28] #7 closed, assigned to nobody

[2013-03-23 21:31] #8 closed, assigned to nobody

[2013-04-02 19:50] ghost opened #11 "Invalid or expired token"
I see this has been raised before but as far as I can see it's till an issue...

my code is basically cut and paste from git example:

<?PHP

require_once ('src/codebird.php');
Codebird::setConsumerKey('XXX', 'XXX'); //my own key and secret here - ommited only for this issue post

$cb = Codebird::getInstance();

session_start();

if (! isset($_GET['oauth_verifier'])) {
    // gets a request token

[2013-04-07 11:04] ezmiller opened #12 ""Could Not Validate You" Message when trying to get list status"
Hi, This library is great. Thanks for putting it out there. I'm having a bit of trouble getting a list's tweets. I issue the following call:

[code]

That yields an error:

[code]

When I simply call for the user's timeline like this:

[code]

everything goes alright.

I noticed in the Twitter API documentation that the call to status_list requires authentication, whereas the call to the home time

[2013-04-07 14:20] #12 closed, assigned to nobody

[2013-04-08 17:58] nickdaugherty opened #13 "Make `private` members and methods `protected`"
Having all members and some methods `private` makes it impractical or impossible to extend the class.

For example, If one wishes to use a different transport than cURL, this could be accomplished by overriding `_callApi()`, but since `_oauth_consumer_key` and `_oauth_consumer_secret` are both private, it is not possible to provide a custom implementation of this method while maintaining all funct

[2013-04-09 12:08] #13 closed, assigned to ZweiSteinSoft

[2013-04-11 16:21] #11 closed, assigned to nobody

[2013-04-15 13:31] jurist-online opened #15 "Can't authenticate with valid keys."
i get error
Failed to validate oauth signature and token
When i am trying authenticate using codebird.

I check for authentication headers - it's ok. There is authentication string from _sign method
Authorization: OAuth oauth_consumer_key="wpuw73TTHj0Myt6r1lWaA", oauth_nonce="ee0a9740", oauth_signature="1OJOHtNNcMYQbTkTxdh3yZ8tBZE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="136603235

[2013-04-29 22:17] Pypeline opened #17 "Class 'Codebird' not found (I might just be stupid)"
I doubt this a problem with Codebird, it's much more likely a problem with me, and I think I'm just overly tired and missing something.

I have this:

[code]

And I just keep getting a fatal error saying it can't find the Codebird class. codebird.php is in the same directory as the file calling it. I just downloaded the files from github today. I'm on php > 5.3. I know the file is getting called b

[2013-04-30 10:57] #17 closed, assigned to nobody

[2013-04-30 19:41] #1 closed, assigned to nobody

[2013-05-30 13:52] Beanow opened #21 "JSON return type"
I would like to cache results with a wrapper class.
To store a response in the DB, I would like to have the original JSON string returned from the server.

For example:

[code]

[2013-06-01 11:45] #15 closed, assigned to nobody

[2013-06-01 13:10] #21 closed, assigned to nobody

[2013-06-07 13:06] eric-holmes opened #22 "Issues when pulling statuses/user_timeline"
Hi there,

I'm using codebird.php for search/tweets, and it works wonderfully - However, I am having issues getting the user timeline to display.

I understand that there are certain permissions needed from a User in order to allow it to read your tweets - but I have tested with the owner of my Twitter App, and still getting Code 32: Could not authenticate you.

I am using the setToken method with

[2013-06-10 13:16] #22 closed, assigned to nobody

[2013-06-12 20:23] navd opened #23 "Data retrieval only at the first time"
Here is the code :

require_once ('codebird.php');
\Codebird\Codebird::setConsumerKey('XXXX', 'XXXXX');

$cb = \Codebird\Codebird::getInstance();

session_start();
if (! isset($_GET['oauth_verifier'])) {
    // gets a request token
    $reply = $cb->oauth_requestToken(array(
        'oauth_callback' => 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']
    ));

[code]

} elseif (! isset($

[2013-06-15 00:33] GreenFootballs opened #24 "App-only authorization"
Been running some tests and it seems I can use app-only authorization without ever calling setBearerToken(). The following code works:

[code]

Is this how it's supposed to work? Can I use code like this or is it necessary to call setBearerToken() each time for some reason that I'm missing?

[2013-06-15 13:43] Jaspur opened #25 "Not working with PHP Version 5.2.17"
It is not working with PHP Version 5.2.17.

[2013-06-15 16:24] #25 closed, assigned to nobody

[2013-06-15 18:02] #23 closed, assigned to nobody

[2013-06-15 21:17] GreenFootballs opened #26 "Problem with users_show()"
I'm having a problem getting the users_show() call to work, but only when I try to call it as an authorized user.

The non-working code:

[code]

This returns error 32 - "Could not authenticate you"

If I call users_show() with app-only authorization, however, it works.

I know that $userAccessKey and $userSecret contain valid oauth keys - the same code above works fine if I call statuses_update()

[2013-06-16 11:48] xShirase opened #27 "Error 77 while validating the Twitter API certificate."
hi, I'm trying to use the code on your readme. I just copied and pasted it, and changed the keys to match my app credentials. When I try to load my page, I get : Exception: Error 77 while validating the Twitter API certificate. [C:\wamp\www\Twitterapp\codebird.php:891] and nothing happens. Any idea where it could come from?

[2013-06-16 14:12] #24 closed, assigned to nobody

[2013-06-16 15:50] #27 closed, assigned to nobody

[2013-06-19 15:46] dodozhang21 opened #28 "What will be returned if limit is reached?"
Hi, what will

$reply = $cb->statuses_userTimeline($params);

return if the limit has been reached?

[2013-06-20 09:29] xShirase opened #29 "Uncaught exception 'Exception' with message 'To get the authorize URL, the OAuth token must be set.' in /home/teenisit/public_html/twitterapp/codebird.php:316"
Hi,
I've seen this issue already but it seems to be back, has anyone found a solution?

I'm using version 2.4.0 and the code from the readme. weird issue, the code runs perfectly on my localhost, but as soon as I upload all the files on my cpanel at teenisity.com/twitterapp, I get this strange error.

i have changed the URL and callback in twitter, recreated the keys, everything...
Please guide me

[2013-06-21 19:30] #28 closed, assigned to nobody

[2013-06-21 20:00] #26 closed, assigned to nobody

[2013-06-24 00:22] GreenFootballs opened #30 "cacert.pem"
Installed 2.4.1 with the certificate file, but can you please explain the purpose of that file? Is it some kind of protection against exploits?

[2013-06-24 19:22] #30 closed, assigned to nobody

[2013-06-25 14:43] desimon opened #31 "Error 77 while validating the Twitter API certificate."
The script can`t find the "cacert.pem" file then returns "Error 77 while validating the Twitter API certificate.", but the certificate file is in the right place.

I resolved replacing line 906 in codebird.php:

Before:

[code]

After:

[code]

[2013-06-27 13:50] #31 closed, assigned to nobody

[2013-07-02 18:37] #29 closed, assigned to nobody

[2013-07-02 19:16] ZweiSteinSoft opened #32 "Support streaming API"
[Streaming API](https://dev.twitter.com/docs/streaming-apis). That means, you call the API server once and get back a continuous stream of data, running as long as you wish.

[2013-07-02 19:20] ZweiSteinSoft opened #33 "Support internal API methods"
In addition to the API methods publicly documented, the Twitter API also supports undocumented API methods, often for use by internal or official apps.  Codebird may support them (or part of them).

[2013-07-02 19:28] ZweiSteinSoft opened #34 "Add unit testing suite"
Codebird should contain a test suite for finding regressions and hidden bugs. The test suite should use a test framework, for example phpunit.

[2013-07-08 12:59] bitgandtter opened #35 "documentation error"
Hello, i was trying to configure an example with your library an follow the README documentation but i get an error:

$reply = $cb->oauth_requestToken(array(
        'oauth_callback' => 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']
    ));

this line of code dosent work, the oauth_requestToken function not existe.

Thanks

[2013-07-09 11:01] #35 closed, assigned to ZweiSteinSoft

[2013-07-16 13:47] ghost opened #36 "List Statuses only returning tweets from one user"
I am using

$cb->lists_statuses('slug=teams&owner_screen_name=MLS&count=4');

And although I am getting 4 tweets, they are all from one user. The user happens to be someone with the most recent tweet. The next tweet in that list is not from this user.

Any ideas why that may be?

[2013-07-24 19:27] #36 closed, assigned to ZweiSteinSoft

[2013-08-26 07:14] annam opened #40 "issues with header('Location: ' . basename(__FILE__)); in authorization flow"
Hi,

i'm using the authorization flow as you have it in your readme file and I thought I should share a couple of issues i had

both are related to this line

// send to same URL, without oauth GET parameters
header('Location: ' . basename(**FILE**));

the first is (obviously) that the parameters are removed using this line. I'm using a dynamic url as the callback (file.php?id=123) and this really

[2013-08-28 02:08] TheCrott opened #41 "Issue with PHP String"
I'm using codebird 2.4.1 and got problem on
here's my code:

[code]

my error report:
Parse error: syntax error, unexpected '$CONSUMER_SECRET' (T_VARIABLE) in C:\wamp\www\twcodebird\verifikasi.php on line 17

i don't know where's the error part. FYI i'm using PHP 5.4.12, curl and openssl module already active

[2013-09-12 20:30] HLegge opened #42 "GET & POST Array Getter"
As discussed via email, a GET & POST array getter would be a very useful feature.

[2013-09-13 16:58] #42 closed, assigned to ZweiSteinSoft

[2013-09-17 09:49] slangdog opened #43 "Undefined property: stdClass::$oauth_token"
Hi
My website is working fine locally (PHP version 5.3.15) but when I test on the server I'm getting this error:

Notice: Undefined property: stdClass::$oauth_token

The PHP version of the server is 5.3.27 and I have a feeling it may be to do with namespaces. Is there a way to initialise Codebird without namespace?

I'm initialising the same as the example, the CONSUMER_KEY and CONSUMER_SECRET are

[2013-09-17 16:14] briansue2002 opened #44 "following tweet returns a 401 cannot authenticate error"
Here is the tweet and the code.  Its 139 characters.  Can't figure out why its failing.  Thoughts?

$msg = 'Hello writers & followers. Trying new svc from @statusfactory1 to get more posts to you. Watch 4 event & mtg updates & hopefully much more.';

[code]

[2013-09-18 00:02] liamlevesque opened #45 "Getting Error 89 even though Tokens have not expired"
Hi - I may be doing this totally wrong - but I'm getting an error 89 when I try to use the example from the readme. I've checked my dev.twitter account and the keys still seem to be valid, so I'm not sure what would be causing the problem. Any ideas?

Here's my code:

/\* Copied from example and modified slightly */
function get_tweets(){

[code]

}

[2013-09-18 17:24] recchia opened #46 "HTTP/1.1 404 Not Found"
Hi, I'm trying to install mynetx/codebird-php but i get this error:
[Composer\DownloaderTransportException] The "https://api.github.com/repos/mynetx/codebird-php/zipball/c2cbec5858ac1dffb9063411931384163be1fe49" file could not be downloaded (HTTP/1.1 404 Not Found).

[2013-09-19 12:30] #41 closed, assigned to ZweiSteinSoft

[2013-09-23 11:17] iturki opened #47 "How to use it with CodeIgniter"
Any one tried using it with CI? I couldn't get it to work. If you know a way to do that or a CI port of this, please let us know.

-Thanks!

[2013-10-09 11:49] #47 closed, assigned to nobody

[2013-10-11 16:11] evantravers opened #48 "Update composer file to jublonet path"
Can't seem to install through composer… did you change from mynetx to jublonet? Maybe the composer.json should reflect this.

[2013-10-12 11:03] #48 closed, assigned to ZweiSteinSoft

[2013-11-29 20:18] #46 closed, assigned to ZweiSteinSoft

[2013-12-02 21:17] schmidtflo opened #49 "oauth_callback value 'oob'"
Hi

When I run

[code]

like in the documentation, the $reply is:

[code]

How to fix this?

[2014-01-16 14:59] AhmedMElmetwally opened #50 "how to tweet on another profile"
hey everybody,
i want to tweet not on my profile but on another profile for someone
can i do this ? if so how plz :)

[2014-01-23 16:02] matthewpizza opened #51 "Ampersand in statuses_update string"
I’m seeing an issue with passing a string that contains `&` to `statuses_update()`.

If I run no encoding, the API responds `Could not authenticate you`. If I use `urlencode()`, the ampersand is encoded twice, `&amp;#038;` in the response.

Is there a preferable way to encode the string before passing to `statuses_update()`?

Could be related to #7.

[2014-02-10 02:38] magofedor opened #52 "Searching more than 100 tweets"
Hi there,

I think this is not considered as an issue, but I would like to know if it possible to get more than 100 results searching in tweets.

[code]

I really appreciate your help.
Luis

[2014-02-14 16:33] #52 closed, assigned to mynetx

[2014-02-19 22:09] #44 closed, assigned to mynetx

[2014-04-11 01:08] cubeguerrero opened #54 "oauth_requestToken internal 500 error"
private $CI;
    private $connection;
    private $api_key;
    private $api_secret;
    private $callback_url;

[code]

hi! I just wanted to know if there's something wrong with the oauth_requestToken function? i'm not sure why but I get a internal 500 server error whenever I use it.

Thanks for the advance feedback!

[2014-04-29 12:16] mynetx opened #55 "Support statuses/lookup"
https://dev.twitter.com/docs/api/1.1/get/statuses/lookup

[2014-04-29 16:00] social-ink opened #56 "Way to construct retweet URL?"
If I get the $tweet object via the basic "$cb->statuses_userTimeline" get, can I construct a retweet URL?

[2014-05-09 02:54] phikai opened #57 "Don't require consumer key if bearer token is already known (was: App Only Authentication Issue on Search)"
I'm having an issue with app only authentication after setting a bearer token:

[code]

The Error I'm getting is:

[code]

It looks like it's not respecting the "true" for app only auth and still checking for consumer key/secrets for account authentication.

[2014-05-16 07:40] mynetx opened #59 "Support muting API methods"
POST mutes/users/create     Mutes the user specified in the ID parameter for the authenticating user. Returns the muted user in the requested format when successful. Returns a string describing the failure condition when unsuccessful. Actions taken in this method are asynchronous and changes will be eventually consistent.
POST mutes/users/destroy    Un-mutes the user specified in the ID parameter

[2014-05-27 23:39] mynetx opened #60 "Multiple media uploads per tweet"
https://dev.twitter.com/docs/api/multiple-media-extended-entities

[2014-05-27 23:43] mynetx opened #61 "Current rate sent back with each call"
See jublonet/codebird-js#50.

[2014-05-27 23:45] mynetx opened #62 "Places & Geo API call issue"
See jublonet/codebird-js#49.

[2014-05-27 23:47] #62 closed, assigned to mynetx

[2014-06-07 14:31] #33 closed, assigned to nobody

[2014-06-07 14:31] #59 closed, assigned to mynetx

[2014-06-07 14:31] #60 closed, assigned to mynetx

[2014-06-07 14:31] #61 closed, assigned to mynetx

[2014-06-08 11:32] lukaswhite opened #63 "No rate limit information in response (Undefined index: x-rate-limit-limit)"
The library is raising an `ErrorException`, because it can't find the rate limit information in the response headers.

Specifically: `Undefined index: x-rate-limit-limit` (line `1102` - version `2.5.0-rc.1`).

I got this with an authenticated call (sending a direct message). I'm not sure whether Twitter has changed its API (I can't find anything to indicate that it has), but I'd expect to see it t

[2014-06-08 18:27] #63 closed, assigned to mynetx

[2014-06-10 08:21] mynetx opened #64 "Euro symbol causes signature error"
There is a OAuth signature error if a tweet status contains the Euro symbol € (`&euro;`).

[2014-06-10 20:57] #64 closed, assigned to mynetx

[2014-06-17 18:37] #57 closed, assigned to mynetx

[2014-06-17 18:40] #56 closed, assigned to mynetx

[2014-06-17 18:41] #55 closed, assigned to mynetx

[2014-06-17 18:47] #50 closed, assigned to mynetx

[2014-06-17 18:47] #49 closed, assigned to mynetx

[2014-06-17 22:36] #51 closed, assigned to mynetx

[2014-06-18 17:01] #40 closed, assigned to mynetx

[2014-06-19 08:40] davebeesleyarchived opened #65 "Incorrect amount of tweets when using statuses_userTimeline"
I am attempting to get the latest 2 tweets from an account using statuses_userTimeline.
I have set the count to 2, and include_rts to false. Sometimes it returns 2. Sometimes 1, Sometimes 0.

I understand the problem may be that it is retrieving the 2 tweets first, then dropping any that are RTs. Rather than going through the list of tweets and returning the first two that are not RTs (which is ho

[2014-06-20 12:38] maxmitch opened #66 "Allow remote media uploads (was: updateWithMedia not working)"
I have this code:

<?PHP
require_once('codebird.php');

\Codebird\Codebird::setConsumerKey("xxxxxxxxxxxxx", "xxxxxxxxxxxx");
$cb = \Codebird\Codebird::getInstance();
$cb->setToken("xxxxxxx-xxxxxxxxxx", "xxxxxxxxxxxxxxxxxxxxx");

$params = array(
  'status' => 'post to twitter',
  'media[]' => 'http://blog.phaseone.com/wp-content/uploads/The-Last-Light-Final-Image.jpg'
);
$reply = $cb->statuses_upd

[2014-06-20 13:09] mynetx opened #67 "Don't require cURL, allow stream connections too"
Backport from FabFab@505e571.
Thanks to @FabFab for the idea.

[2014-06-21 19:06] #67 closed, assigned to mynetx

[2014-06-22 11:09] MarquisdeGeek opened #70 "Can't deduce the method signature for users/show"
I'm trying to get the info about a single user. The API call (https://dev.twitter.com/docs/api/1.1/get/users/show) appears to be:

GET users/show

with a user_id parameter. My understanding that is should be either:

$userdata = (array)$cb->users_show(array('user_id'=>'108021052'));
$userdata = (array)$cb->users_show('user_id=108021052');

But those return ' Could not authenticate you' errors, des

[2014-06-23 10:44] maxmitch opened #71 "how to encode a $_POST"
So say I have a $_POST["name"] = $name;
where the POST is:

hello - ("max")

How would you recommend I encode it?

currently i have done: utf8_encode($name);

followed by:

$params = array(
    'status' => $name,
    'media[]' => 'video images/'.$photo
);

But this outputs the hyphen as  â. etc.... On twitter

What is the said way to do it?

Thanks

[2014-06-25 12:52] yesiamben opened #72 "Notice: Undefined variable: apimethods"
Apologies if I'm missing something, but I can't seem to be able to get codebird to play at all.  Following your examples exactly, in a file with nothing else in, I'm getting:

Any ideas?! Many thanks in advance...

[2014-06-25 16:50] #72 closed, assigned to mynetx

[2014-06-26 15:05] movsky opened #73 "update_with_media only png?"
I'm having trouble while uploading files to twitter. It works well with png but fails on jpg. is this a known issue or are there additional steps necessary?

My code is:

$mediaPath = realpath($config->getUploadFolder() . $image);
$params = array(
        'status' => $twitterMessage,
        'media[]' => $mediaPath
      );
$reply = $cb->statuses_updateWithMedia($params);

[2014-06-26 18:57] #70 closed, assigned to mynetx

[2014-06-26 19:17] #66 closed, assigned to mynetx

[2014-06-28 11:22] #43 closed, assigned to mynetx

[2014-06-28 11:22] #45 closed, assigned to mynetx

[2014-06-28 11:23] #54 closed, assigned to mynetx

[2014-06-28 11:23] #71 closed, assigned to mynetx

[2014-06-28 13:53] #73 closed, assigned to mynetx

[2014-06-30 08:28] #65 closed, assigned to mynetx

[2014-06-30 10:16] mayooresan opened #74 "Error while trying to get oauthkey"
I get the following error when I'm trying to run the sample code

`Notice: Undefined property: stdClass::$oauth_token in /Applications/XAMPP/xamppfiles/htdocs/twitter/index.php on line 30

Notice: Undefined property: stdClass::$oauth_token_secret in /Applications/XAMPP/xamppfiles/htdocs/twitter/index.php on line 30

Notice: Undefined property: stdClass::$oauth_token in /Applications/XAMPP/xamppfil

[2014-06-30 10:41] #74 closed, assigned to nobody

[2014-07-14 20:17] MartyIX opened #75 "Add @method to phpdoc"
Hi,

is it worth to add phpdoc hints about available API methods? I mean something like:

[code]

The goal would be to allow function autocomplete in PHP IDEs. What do you think?

Have a nice day!

[2014-07-18 10:07] hybridNeo opened #76 "HTTP links for statuses_updateWithMedia fail"
Regular image upload works fine.but when providing http links I get 403 error

object(stdClass)#2 (3) { ["errors"]=> array(1) { [0]=> object(stdClass)#3 (2) { ["code"]=> int(189) ["message"]=> string(22) "Error creating status." } } ["httpstatus"]=> int(403) ["rate"]=> NULL }

[2014-07-26 11:26] ProdigyView opened #77 "Posting Url With Hashtags"
I am trying to post a url with a hashtag in it. Encoding the hashtag does not work, and I do not know how to use intent structure mentioned here with Codebird: https://dev.twitter.com/discussions/512

How can I post a url with a hashtag in it using Codebird?

[2014-07-30 16:01] maxmitch opened #78 "`Error creating status` with statuses_update"
Do you know why I am getting this error:

[code]

Where my status is

Blog post: Animal and Insect Sculptures Wrapped in Crocheted Webbing #Art http://goo.gl/uO12oKstdClass

[2014-07-30 21:00] #78 closed, assigned to mynetx

[2014-08-04 02:39] Baw0l opened #79 "Post status with an image doesn't work"
Hello, when i try to use updateWithMedia there is a problem.
The tweet is posting on my twitter account but the image is completly wrong, here is the image:
https://pbs.twimg.com/media/BuKSt0tIgAABjXI.jpg:thumb
Looks like to be broken :/

[2014-08-11 10:50] ghost opened #80 "How do you add other data to a tweet, e.g. coordinates?"
Does this library allow that, and if so, how?

[2014-08-11 12:27] #80 closed, assigned to mynetx

[2014-09-04 09:53] dannydehaan opened #81 "CURLOPT_TIMEOUT_MS and CURLOPT_CONNECTTIMEOUT_MS errors on PHP 5.3"
Hi,

We're using your awesome Twitter client for one of our clients in a WordPress plugin. We've found out that the code does work great on our Dev, Test and Acceptance environments. On the Production environment we were getting the following error:

Warning: curl_setopt() expects parameter 2 to be long, string given

I've done some research, and found the following solution: http://php.net/manual

[2014-09-04 10:12] #81 closed, assigned to mynetx

[2014-09-20 17:27] mewcrazy opened #82 "media upload -> error 400: not recognized"
Hello,

For the last couple of weeks I'm getting an error message when I'm trying to upload files to twitter:

object(stdClass)#2680 (4) { ["request"]=> string(22) "/1.1/media/upload.json" ["error"]=> string(15) "not recognized." ["httpstatus"]=> int(400) ["rate"]=> NULL }

I use 3 http:// images and they are all valid URLs. Posting a tweet works fine though, with the same instance of Codebird.

I

[2014-09-24 14:43] #79 closed, assigned to mynetx

[2014-09-26 04:35] EbanEscott opened #83 "user/lookup for 100 user ids"
Hi J.M.

How are you? I am well and having some issues with users/lookup. Could I trouble you for some time please.

https://dev.twitter.com/rest/reference/get/users/lookup states we can "100 users per request, as specified by comma-separated values passed to the user_id and/or screen_name parameters". However, when I try do do this through codebird I get:

stdClass::__set_state(array(
'httpstatus

[2014-09-27 22:09] esteban1972 opened #84 "Notice: Undefined property: stdClass::$oauth_token"
I copied and pasted the code in the example:

<?php

require_once ('codebird/codebird.php');
\Codebird\Codebird::setConsumerKey('CONSUMER_KEY', 'CONSUMER_SECRET'); // static, see 'Using multiple Codebird instances'

$cb = \Codebird\Codebird::getInstance();

session_start();

if (! isset($_SESSION['oauth_token'])) {
    // get the request token
    $reply = $cb->oauth_requestToken(array(
        'o

[2014-09-30 13:40] #75 closed, assigned to mynetx

[2014-09-30 13:43] jublo opened #85 "Support promises as alternative to callbacks"

[2014-09-30 14:00] #83 closed, assigned to mynetx

[2014-10-02 06:37] jublo opened #86 "Return exception for failed cURL requests"
On line 1278 there is:

[code]

The result could be false meaning that there was a problem with the request. If I set the timeout to 0 then it is fine:

[code]

Can I suggest an improvement to your code like:

[code]

http://php.net/manual/en/function.curl-error.php

Or something like this. Then we will know when there is an issue and why.

------

Copied from #83 authored by @EbanEscott.

[2014-10-03 09:50] Ricozor opened #87 "Get geolocated tweets by place"
Hi !
Your plugin is great but I wonder if there a way whit it to get only geolocated tweet on a specific place

thx

[2014-10-12 11:30] #84 closed, assigned to mynetx

[2014-10-15 14:43] #82 closed, assigned to mynetx

[2014-11-03 12:06] kpachbiu88 opened #88 "Error: 108 Cannot find specified user"
[code]

Response:
stdClass Object
(
    [errors] => Array
        (
            [0] => stdClass Object
                (
                    [code] => 108
                    [message] => Cannot find specified user.
                )

[code]

)

Where error?

[2014-11-22 01:56] tolgatasci opened #89 "oauth_accessToken error multible"
dear jublonet,

[code]

test2 problem is

I want to make multiple entries.

[2014-11-22 11:10] #88 closed, assigned to mynetx

[2014-12-03 09:09] #89 closed, assigned to nobody

[2014-12-12 13:09] jmgomezpoveda opened #90 "Multi-byte characters in UTF-8 media filenames are not posted correctly"
Statuses containing non-ASCII (UTF-8 multi-byte) characters are being posted wrongly to Twitter.

For example, for a status such as "this character is not correctly printed: Ô":

The Ô symbol will be incorrect in Twitter. This affects any multi-byte character (Diacritics in some languages, Asian languages, symbols, etc).

Checking the code (https://github.com/jublonet/codebird-php/blob/develop/src

[2014-12-15 12:27] TeoSoft80 opened #93 "Warning and error"
Hi, great job!

When I try to use this on my hosting i obtained this warning and error in call

<b>Warning</b>:  Unexpected character in input:  '\' (ASCII=92) state=1 ...

<b>Parse error</b>:  syntax error, unexpected T_STRING ...

these are related to the line where i use the api in this way:

\Codebird\Codebird::setConsumerKey("your_ConsumerKey", "your_ConsumerSecret");
$cb = \Codebird\Codebird

[2014-12-28 17:43] edent opened #95 "Direct Message - can't find HTTP method"
When I call `$cb->direct_messages();` I get the following error:

I assume this is because it's seeing the underscore and treats it like the others (e.g. `search_tweets` becomes `search/tweets`)

Am I missing something blindingly obvious?

Tested on 2.6.1 and 3.0.0dev.

[2014-12-29 14:03] #95 closed, assigned to mynetx

[2015-01-08 15:34] Kirdneh opened #97 "Retweet and Fav"
Hi ! I'm using your work for a dev and thank you for it !
I have a question, is it possible to RT and FAV via the library ?
Something like that :

[code]

Thanks :)

[2015-01-08 17:16] jublo commented on #97
Codebird supports any API calls surfaced by the Twitter API. Please take a look at the API methods list at https://dev.twitter.com/rest/public.

[Retweeting](https://dev.twitter.com/rest/reference/post/statuses/retweet/%3Aid) is easy:

[code]

[Favoriting](https://dev.twitter.com/rest/reference/post/favorites/create) works similarly:
[code]

[2015-01-09 13:53] Kirdneh commented on #97
It works perfectly, thank you for the quick response!

[2015-01-09 13:53] #97 closed

[2015-01-09 23:47] therealrobbo opened #98 "Error 77 while validating the Twitter API certificate."
Hello,

We have a custom CMS that has been utilizing your library to post tweets to our twitter feed for some time now. Everything has worked great for about 9 months and we post about a dozen tweets or more every day.

Suddenly, about four hours ago, we started getting the "Error 77 while validating the Twitter API certificate." exception.

It's very puzzling because, as I said, everything worked

[2015-01-10 00:21] therealrobbo commented on #98
Realizing we were using an older version of codebird (2.4.1) I upgraded to the newest version ( 3.0.0-dev ).

Once I did that, I realized we were using a deprecated method ( statuses/update_with_media ).

Referring to the readme, I adjusted our code to use the two-phase process, uploading media IDs first, and then posting a tweet that refers to those media IDs.

Again, this worked find on our loca

[2015-01-10 01:22] therealrobbo commented on #98
One final note, we got this error message to go away...

It turned out curl got "stuck" on our server. Not sure how or why but curl_exec was returning the 77 error condition for no apparent reason.

We restarted apache and everything started functioning again.

Sorry to be a pest but I wanted to record the solution here in case it comes up for someone.

[2015-01-10 01:31] #98 closed

[2015-01-10 17:42] jublo commented on #98
Hi Rob,
Glad to hear you were able to resolve the certificate errors. I guess we may add a section about this in the README FAQ.

[2015-01-10 17:43] jublo commented on #93
Hi Matteo, were you able to take a look at this issue yet? We'll have to close it soon otherwise.

[2015-01-19 06:06] kihunjang opened #99 "Do not update the tilde(~) character."
Dear Sir.

If I update the twitter message include tilde(~), the php does not update the message.
The result is "Could not authenticate you."
So could you please test this problem.
Thank you.

[2015-01-19 15:57] jublo commented on #99
Can you please give us an example code that fails?

[2015-01-29 17:46] matriplett opened #100 "tweets from other users"
trying to troubleshoot why i all of a sudden started getting other users tweets. can anyone point me in the right direction how to correct this issue

[2015-01-29 17:56] joshuaatkins commented on #100
Hi @matriplette, can you provide us with a code snippet you are using to retrieve this data?

[2015-01-29 18:09] matriplett commented on #100
sorry for my ignorance, i didn't build the site. Would that be in codebird.php file or in my wordpress function.php. I did notice this is only happening on replies on twitter. i appreciate the help

[2015-02-03 14:49] a-sane opened #101 "Too short CURL timeout"
CURL timeout is too short, in some places ping to twitter servers more than 155 ms

[code]

[2015-02-03 18:14] a-sane commented on #101
@joshuaatkins ok, but  than ping to twitter servers more than default timeout value, i have no error, just empty response array. Anyway I think you have describe it in the readme

[2015-03-08 14:12] jublo commented on #100
It would be in the PHP file that calls Codebird, so presumably inside your WordPress function.php.

[2015-03-13 01:20] myselfgaurav opened #102 "How to get all tweets of user when tweets more that 200"
How to get all tweets of user when tweets more that 200

[2015-03-13 09:55] jublo commented on #102
Twitter returns multiple result pages when there are more than 200 tweets.  This is called “cursored results.”  Please have a look at the documentations:

- [Using cursors to navigate collections | Twitter Developers](https://dev.twitter.com/overview/api/cursoring)
- [Codebird-PHP: How do I walk through cursored results?](http://www.jublo.net/projects/codebird/php#walk-through-cursored-results)
-

[2015-03-18 00:22] Albirew commented on #76
Hi,

I get the same error here with release 2.6.1 and 3rd party server media:
`stdClass Object ( [errors] => Array ( [0] => stdClass Object ( [code] => 189 [message] => Error creating status. ) ) [httpstatus] => 403 [rate] => ) `
The code I use is: http://sebsauvage.net/paste/?b2679106f76cd389#dtxyCalKXldKWaSZzgGeu7BZvegL/Y833793+uyd3Es=

Regards.

[2015-03-20 19:14] manuelgu opened #103 "Error 77 while validating the Twitter API certificate"
Hello,

I have just taken a look at codebird-php and started using it. Basically I have a eclipse workspace, saved into my xampp folder and this code:
[code]

but everytime I refresh the index.php, I'll get this error:
[code]

Did I do anything wrong? Do I need other files for it to work?

btw: I didn't use composer, just copied cancer.pem and codebird.php into the folder.

Greetings

[2015-03-20 19:25] jublo commented on #103
Hi Manuel, is #98 related?

[2015-03-20 19:29] manuelgu commented on #103
I fixed the error by putting this in the code
[code]

but it's still not posting the tweet. Double-checked keys already.

[2015-03-20 19:53] jublo commented on #103
The file `cacert.pem` needs to be readable by the web server.

[2015-03-20 19:53] jublo commented on #103
Oh, and you need to have openssl installed.

[2015-03-20 19:59] manuelgu commented on #103
What do you mean by 'readable'? OpenSSL should be installed since it's on XAMPP

[2015-03-20 20:00] jublo commented on #103
I mean that the user account that runs the web server executable needs to have file permissions to open the `cacert.pem` file for reading.

[2015-03-20 20:04] manuelgu commented on #103
Why shouldn't he? Everything is running on the same pc and account with admin permissions.
Don't get me wrong please, I'm just confused.

[2015-03-20 20:09] manuelgu commented on #103
The method above returns 1, so I guess that means true.

[2015-03-20 20:11] jublo commented on #103
- Codebird forwards any errors returned by the cURL library. cURL is the default library to connect to remote servers, like the Twitter API.
- Since all communication with the Twitter API is secured by SSL encryption, certificates are needed.
- Codebird is set up to check the validity of the SSL certificate returned by the Twitter server, in order to prevent man-in-the-middle attacks that may caus

[2015-03-20 20:17] jublo commented on #103
If you're perfectly sure that nobody can intercept your sent/received data, edit the `codebird.php` file and edit some lines to look like this:

        curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, 0);
        curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, 0);

- https://github.com/jublonet/codebird-php/blob/2.6.1/src/codebird.php#L692-L693 and
- https://github.com/jublonet/codebird-php/blob/2.6.1/src/codeb

[2015-03-20 20:34] manuelgu commented on #103
I changed all the suggested things, didn't hlep.
Also checked php.ini, OpenSSL is installed for sure.
There's also no program on my computer that could block the read/write permissions for the cacert.pem

I guess the only thing I could try is reinstalling everything (XAMPP, Codebird,..)
Thanks anyways for all your help!

[2015-03-20 20:36] jublo commented on #103
Install [Fiddler](http://www.telerik.com/fiddler) and add a line to the Codebird cURL options like this:

    curl_setopt($ch, CURLOPT_PROXY, 'http://localhost:8888');

Then see if cURL is talking to Twitter, and what the result is.

[2015-03-20 20:42] manuelgu commented on #103
No, it isn't. What does that mean?

[2015-03-20 20:44] jublo commented on #103
In order for Fiddler to work, you will have to apply the `0` patches for the SSL verification as well.

[2015-03-20 20:50] manuelgu commented on #103
Where? I tried both, the normal codebird.php and the modified one. Fiddler still gives just a response for localhost /php/Codebird-Twitter/ but not for Twitter.

[2015-03-24 07:20] dhavalkakkad commented on #100
Hello People, I am using this code and looks awesome, but I want is how can user tweet with his/her own account using the API. Currently all the tweets are going to my account as I am using my app credentials.

Any help??

[2015-03-24 07:23] dhavalkakkad opened #104 "How can i allow users to tweet (with image) to thier accounts?"
Hi there,

this is the best API code I came across and looks really promising. Right now I can send send tweets to my account but I want user's to share results of a quizzes to their respective accounts on twitter from my website.

Is there any way possible with this code? Any help is appreciated.

Thank you

[2015-03-24 09:16] joshuaatkins commented on #104
Hi @dhavalkakkad!

Thank you for using our code! Glad you are enjoying it!

If i understand you correctly. You can 'authenticate' your app with users twitter accounts, see here for example https://github.com/jublonet/codebird-php#authentication

Lets us know if you need any more assistance.

[2015-03-24 09:28] dhavalkakkad commented on #104
hi @joshuaatkins ,

thanks a lot for response. The only thing making me concern is if we are using consumer key and secret, I can only see the tweet in the account from which I have made this App.

What I want is,let say you come to my website and you share a tweet to your twitter account with the customize result generated from the website quiz .Currently all tweets are going to my account only.

[2015-03-24 09:36] dhavalkakkad commented on #104
Hey Figured it out what was the problem. Works like a charm.

Thanks mate.

[2015-03-24 09:42] joshuaatkins commented on #104
Awesome, enjoy!

[2015-03-24 09:42] #104 closed

[2015-03-25 10:32] jublo commented on #103
For the one or other reason, the external request from your PHP instance to the Twitter API is not sent.  In order to get this debugged better, please upload your files to a staging environment that’s accessible from the Web. Afterwards, send us the login details via email (support@jublo.net) and we may take a look.

[2015-03-25 10:33] jublo commented on #102
Closing this issue as we did not receive any further reply.

[2015-03-25 10:33] #102 closed

[2015-03-25 10:34] jublo commented on #100
@matriplett Is this still an issue in your environment?

[2015-03-25 10:35] jublo commented on #99
@kihunjang Please provide a sample code that fails. If no further reply is received, we will close this issue soon.

[2015-03-25 10:35] jublo commented on #93
Closing this issue as no further reply was received from @TeoSoft80.

[2015-03-25 10:35] #93 closed

[2015-03-25 23:48] kihunjang commented on #99
I am sorry. The example is simple. You just write 'korea~' or 'Hi~.' Then you can get the above message.
Thank you.

[2015-03-26 15:58] msaadbashir opened #105 "Keeps on saying invalid token"
I am trying to use codebird to tweet using PHP. Initially I was unable to get Access Token but after I defined CallbackURL in settings that issue seems to be resolved. Now it is returning oauth token:

Codebird\Codebird Object ( [_oauth_token:protected] => codehere [_oauth_token_secret:protected] => codehere [_return_format:protected] => 0 [_supported_media_files:protected] => Array ( [0] => 1 [1]

[2015-03-27 10:44] jublo commented on #99
Thanks @kihunjang. We will inspect this.

[2015-03-27 10:44] jublo commented on #99
Which codebird version are you using?

[2015-03-27 10:47] jublo commented on #105
Which codebird and PHP version are you using?

[2015-03-27 10:50] kihunjang commented on #99
We used the 2.4.1 version.

[2015-03-27 10:56] jublo commented on #99
Does tweeting `Test~` work after you upgrade to [Codebird 2.6.1](https://github.com/jublonet/codebird-php/releases/tag/2.6.1)?

[2015-03-27 11:39] jublo commented on #103
Thank you for submitting login information to us via e-mail. After taking a look at the source files, we found that the root certificate store file was called `cacert.pm` (Perl module), while it is supposed to be called `cacert.pem` (certificate file).

We renamed the file accordingly.

[2015-03-27 11:44] #103 closed

[2015-03-27 12:17] jublo commented on #76
Question being, what URL is inside `$imageurl`?

[2015-03-27 13:07] Albirew commented on #76
`$imageurl` is always an external picture link. I added following line to make sure that internal pictures with relative path are always taken as full external link for codebird:
`if (strpos($imageurl,'://') === FALSE){$imageurl = 'http://domain.tld'.$imageurl;}`

[2015-03-28 06:48] msaadbashir commented on #105
PHP Version: 5.4
Codebird Version: 3.0.0-dev

[2015-03-30 02:01] kihunjang commented on #99
Thank for your support. It is our server problem. it work on the old version.

[2015-03-30 13:56] jublo commented on #99
@kihunjang Have you been able to fix the problem?

[2015-03-30 14:09] jublo opened #106 "Add logout method"
As a user, I want to be able to log out from the account currently logged in. Calling `logout()` should cause Codebird to forget the current access token and secret.

Ported from jublonet/codebird-js#96.

[2015-04-04 12:21] jublo commented on #76
In order to debug this properly, we may need access to your (staging or production) server. Please email support@jublo.net with any login details you want to provide us. We will then take a look at the exact error, and inform you about what's wrong.  Don't worry, we will not share the data with any third party.

[2015-04-09 06:09] kihunjang commented on #99
I am sorry for delayed. I don't change the code. We changed the server. I don't know what changes. I think that changes is lib curl or php version.

[2015-04-09 10:20] jublo commented on #99
@kihunjang Find out the PHP version with ```<?php echo phpversion(); ?>```. Please note that Codebird 2.6.1 requires PHP 5.3.0 or newer.

[2015-04-14 18:11] jublo commented on #90
@jmgomezpoveda Hi José, can you please review the information from #90, #91 and #92 and suggest the best fix for this? We will take your advice and implement any necessary change for Codebird 3.0.

[2015-04-14 18:29] jublo commented on #76
Closing this issue as we didn’t receive any further reply. Feel free to re-open it if you need.

[2015-04-14 18:29] #76 closed

[2015-04-14 19:17] jmgomezpoveda commented on #90
It's been a while but let's see...

#91 was rejected since the FILTER_VALIDATE_URL filter is still useful for rejecting invalid URLs, even though this filter prevents from using remote files containing unicode characters (whose filename should then be encoded before invoking the codebird function). If this is the final approach for #91, please accept my suggestion and add in the documentation the

[2015-04-14 19:22] jublo commented on #90
Thanks for your guide on the docs update. Can you submit a pull request for the README amendment, please?

[2015-04-15 22:49] jmgomezpoveda commented on #90
Ok, the commit history for PR #92 is cleaned now.

[2015-04-15 23:40] jmgomezpoveda commented on #90
And PR https://github.com/jublonet/codebird-php/pull/108 is created for the documentation change.

[2015-04-16 10:54] jublo commented on #90
So after merging those two, we’re good to go, @jmgomezpoveda?

[2015-04-16 11:07] jmgomezpoveda commented on #90
Yes, we can close this issue now. Thanks.

[2015-04-16 11:07] #90 closed

[2015-04-30 05:31] chrisharrison commented on #82
I'm still getting this on account/update_profile_image

[2015-05-01 09:47] jublo commented on #82
Hi @chrisharrison, can you open a new issue for that, please? We'd like to know your codebird version number and the image (URL or binary) that you're trying to tweet.

Thanks!

[2015-05-06 17:48] nrileykc opened #110 "Adding Since Date and Time to Query String"
Is there a way to add a date and time to the query string so that I only get tweets since a certain date/time?

Taking this:
$reply = $cb->search_tweets('q=Twitter', true);

To something like:
$reply = $cb->search_tweets('q=Twitter,since=2015-05-06 10:00:00', true);

[2015-05-08 15:22] jublo commented on #110
Try these:

[code]

Does that work for you, Nathan?

[2015-05-10 09:04] #99 closed

[2015-05-10 09:05] #100 closed

[2015-05-10 09:08] jublo opened #111 "Add user agent to remote calls"
When connecting to Amazon hosts for downloading remote images, adding a User Agent string solves IP restriction issues.

[2015-05-10 09:21] jublo opened #112 "Fix required PHP version"
#107 requires PHP 5.4.

[2015-05-10 18:49] #111 closed

[2015-05-10 18:49] #112 closed

[2015-05-11 08:58] jublo opened #115 "Downloading images for media uploads do not always work correctly"
In reference to #66, #76, #111, as reported by @lifeboatpres.

[2015-05-11 09:03] jublo commented on #115
When calling `media/upload`, getting `media type unrecognized.` with certain remote image URLs.

[2015-05-11 09:06] #115 closed

[2015-05-12 10:59] #106 closed

[2015-05-12 11:39] #86 closed

[2015-05-12 11:39] jublo commented on #86
@EbanEscott Please test if this fix works for you.

[2015-05-12 11:41] jublo commented on #87
@Ricozor Can you please describe exactly which feature you are looking for? I'm sorry, but I did not quite understand what it is about.

[2015-05-12 11:52] jublo commented on #105
The code you're using stores the access token and its secret in PHP session variables. This will only work if you have an active session. Try calling `session_start()` at the beginning of your code.

Does that solve your issue?

[2015-05-12 13:04] jublo commented on #85
With PHP, there is no need for promises. This has been moved to jublonet/codebird-js#98.

[2015-05-12 13:04] #85 closed

[2015-05-14 14:26] #32 closed

[2015-05-14 17:50] jublo opened #117 "Drop CURLOPT_TIMEOUT workaround for PHP 5.3"
http://php.net/manual/en/function.curl-setopt.php#107314

Codebird 3.0 requires PHP 5.5+, so this code can be dropped.

[2015-05-23 09:52] nirmalthumber opened #118 "Unexpected [—array initialization with PHP 5.3"
syntax error, unexpected '[' in <b>C:\xampp\htdocs\magento\lib\Connectors\Twitter
\src\codebird.php</b> on line <b>24</b><br />

When we Create Instance .
$codeBirdObject=\ Codebird\ Codebird::getInstance();

[2015-05-23 09:55] jublo commented on #118
Hi Nirmal,

Please note that Codebird 3.0.0-dev requires at least PHP 5.4.  The error message that you are quoting originates from PHP 5.3 or lower, since short-hand initialization of arrays was introduced with PHP 5.4.

If you need to stay compatible with PHP 5.3, I suggest you to use Codebird-PHP 2.7.0.  Please have a look at the [2.7.0 release notes](https://github.com/jublonet/codebird-php/rel

[2015-05-23 10:46] nirmalthumber commented on #118
ok thanks

[2015-05-23 10:46] #118 closed

[2015-05-27 18:58] #117 closed

[2015-05-27 18:59] jublo commented on #110
Closing this issue due to no further received reply.

[2015-05-27 18:59] #110 closed

[2015-05-27 19:00] jublo commented on #105
Closing this issue due to not having received any further reply.

[2015-05-27 19:00] #105 closed

[2015-05-27 19:00] jublo commented on #87
@Ricozor Can you please explain the feature in detail that you'd like to see?

[2015-06-15 17:35] jublo opened #120 "Support for Twitter Ads API"
Ported from jublonet/codebird-js#101, thanks @JosephOR!

[2015-07-07 15:28] joshuaatkins opened #121 "Templated methods: Only first param is detected"

[2015-07-11 03:38] AsimNet opened #123 "no one can see my auto posts!"
Hi

i'm surprised that no one can see my auto post (except me) !.
this the link : https://twitter.com/SaherToday/status/619711271898849280
and you won't be able to see it !, while I can !.

what's the reason ?

thanks.

[2015-07-11 03:46] AsimNet commented on #123
I found the problem,
i can't use double quotes with 'status'=> "Some thins ${Var}"

how to solve this problem ?

[2015-07-11 05:37] Schenn commented on #123
Mysqli real Escape the status
On Jul 10, 2015 8:46 PM, "AsimNet" <notifications@github.com> wrote:

[2015-07-15 01:20] AsimNet commented on #123
how?

[2015-07-15 01:23] Schenn commented on #123
are you using mysqli to store the data in the database or pdo?

If your using a mysqli connection, just do
mysqli_real_escape_string($tweetMessage->status)

if your using pdo, then use a prepare statement.

If your just delivering the string right to the front end, use
addslashes($tweetMessage->status)

On Tue, Jul 14, 2015 at 6:20 PM, AsimNet <notifications@github.com> wrote:

--
Pahediemiti
sa Y

[2015-07-15 01:24] Schenn commented on #123
sorry, if you're using a mysqli connection, do
mysqli_real_escape_strain($connection, $tweetMessage->status)

On Tue, Jul 14, 2015 at 6:23 PM, Schenn <schenn@gmail.com> wrote:

--
Pahediemiti
sa Yinepu-Wepwawet her Amun-Ra,
mery Sokar-Wesir, Hethert-Sekhmet her Ra-Heruakhety

[2015-07-15 01:56] AsimNet commented on #123
solved it with this code :
`$params = array_map( 'addslashes', $params );
$reply = $cb->statuses_update($params);`

[2015-07-17 19:24] #123 closed

[2015-07-18 11:33] lifeboatpres opened #124 "Redirected remote images are not uploaded"
This library failed to upload the image http://images.techhive.com/images/article/2014/10/artificial_intelligence_circuit_board_face_thinkstock-100528007-primary.idge.jpg

The solution was to change:

                        // use hardcoded download timeouts for now
                        curl_setopt($ch, _CURLOPT_TIMEOUT_MS, 5000);
                        curl_setopt($ch, _CURLOPT_CONNECTTIMEOU

[2015-07-18 12:44] jublo commented on #124
This is because `images.techhive.com` redirects to `core0.staticworld.net`.  Thanks for the notification! Can you prepare a pull request for this amendment, please?

[2015-07-18 19:32] lifeboatpres commented on #124
"Can you prepare a pull request for this amendment, please?"

Done! (As you already noticed.)

[2015-07-18 19:33] jublo commented on #124
Thanks Eric! It will get merged in the coming days, along with the next 2.7.x release.

[2015-07-18 19:35] lifeboatpres commented on #124
And, of course, my change applies to any other versions that you have.

[2015-07-18 19:40] jublo commented on #124
2.7.x always gets merged to current `develop` branch (future 3.x), too! 😉

[2015-07-20 10:44] hassantafreshi opened #126 "how can use \r\n in tweet content ?"
Hello there
I want use \r\n mode in tweet . how can do it ?

[2015-07-20 10:47] jublo commented on #126
Twitter's website never displays the new lines in tweets, it just seems that way. Some clients do display the new lines, but Twitter does not. They simply display them as they would a space. They do leave the actual new line character in the tweet though.

See here for a demo: http://stackoverflow.com/a/15123104

[2015-07-20 10:47] #126 closed

[2015-07-20 11:00] hassantafreshi commented on #126
hmmmm  Ok i think got it about view ,but i can't understand how can use space to display the new line !

[2015-07-21 04:55] anagnam opened #127 "What does this error means?"
Hi, I would like to know what this error means and how to fix it?
Basically, I had a script that query the api for all followers (roughly 300 followers so far) and check each and every id if its mutual or not then this error pops up halfway down the looping.
Btw, I had a random interval of 3 8 seconds on each loop.
Any ideas how to fix it?
thanks

Fatal error: Uncaught exception 'Exception' with m

[2015-07-21 06:26] jublo commented on #127
Hi Rey, thanks for your report!

What Codebird version are you using?

[2015-07-21 06:28] anagnam commented on #127
Hi @jublo Thanks for your reply. I'm using version 2.7.0

[2015-07-24 13:26] ashleyhindle commented on #127
I'm getting this also

<img width="1015" alt="screenshot 2015-07-24 14 26 32" src="https://cloud.githubusercontent.com/assets/454975/8875277/edb82d04-320f-11e5-8406-ea93d36f0098.png">

[2015-07-24 13:41] ashleyhindle commented on #127
If you add `curl_setopt($ch, CURLOPT_IPRESOLVE, CURL_IPRESOLVE_V4);` to line 1392 then my problem goes away.  Not sure if it will fix yours @anagnam

[2015-07-25 15:45] schmidtflo opened #128 "Use cursor automatically"
Hey
Would be nice if you can set an option for an own limit of users, so Codebirds uses the cursors automatically instead of just the first 5000.

At the moment, the API allows max 5000 users in return for a request (eg. https://dev.twitter.com/rest/reference/get/friends/ids). To get more users, you have to use the cursors by your own.
I would like to have an option to set the limit for example to

[2015-08-09 10:47] lifeboatpres opened #129 "Custom remote image download timeouts"
codebird-php 2.7 failed when I gave it the image http://interestingengineering.com/wp-content/uploads/2015/08/braincontrol.png

I investigated and there was a timeout problem at:

    curl_setopt($ch, _CURLOPT_TIMEOUT_MS, 5000);
    curl_setopt($ch, _CURLOPT_CONNECTTIMEOUT_MS, 2000);

I solved it by doubling the values. (I'm sure this was overkill but I don't want to see the problem again.) My new

[2015-08-09 12:54] jublo commented on #129
Thanks Eric! We will add an option to customise the remote image download timeouts in Codebird 3.0.

[2015-08-12 18:22] zhexiao opened #130 "Calling statuses_retweet_ID shows PHP Warning"
When i using this function :
[code]

it's return a error:
[code]

<b>Fixed Solution</b>:
In function _mapFnToApiMethod(), change
[code]
to
[code]

[2015-08-12 18:25] jublo commented on #130
Which Codebird version are you using?

[2015-08-12 21:38] zhexiao commented on #130
/**
 * A Twitter library in PHP.
 *
 * @package   codebird
 * @version   3.0.0-dev
 * @author    Jublo Solutions <support@jublo.net>
 * @copyright 2010-2015 Jublo Solutions <support@jublo.net>
 * @license   http://opensource.org/licenses/GPL-3.0 GNU General Public License 3.0
 * @link      https://github.com/jublonet/codebird-php
 */

[2015-08-16 18:04] jublo commented on #130
what does `print_r($inputArray['object_id']);` show?

[2015-08-16 18:16] jublo commented on #128
Hi Florian, thank you for this idea!

This is something we want to implement in a high-level Codebird wrapper that might be on our roadmap. Once we would create a repo for it, we will transition this issue to there.

[2015-08-16 18:21] jublo commented on #127
@andypiper Are you aware of any issues or bottlenecks when accessing the Twitter API over IPv6? Please read through the history of this issue.

[2015-08-16 18:34] #128 closed

[2015-08-16 18:37] jublo commented on #87
Closing this issue since no further reply was received.

[2015-08-16 18:37] #87 closed

[2015-08-16 19:10] evgeniy123 opened #131 "[2.7.0]"
Hello. I try to upload image + message by using $consumer_key, $consumer_secret, $access_token, $access_token_secret. I have all this things. Bun I get error  "Undefined property: stdClass::$media_id_string". Can you say me because of what I get it ? Thanks

PHP. 5.3.10

[2015-08-16 20:11] #131 closed

[2015-08-17 09:21] jublo commented on #131
Either your media upload failed, or you are rate-limited, or your OAuth token is invalid.

[2015-08-17 09:47] andypiper commented on #127
@jublo I'm not aware of anything - if you have a reproducible test case demonstrating an issue feel free to send it over and I'll see if I can find anything out for you.

[2015-08-17 10:02] #124 closed

[2015-08-17 14:50] jublo commented on #127
@ashleyhindle @anagnam Do your servers have problems with IPv6 connectivity? As you see from @andypiper’s comment, Twitter isn’t aware of any IPv6 issues on their end.

[2015-08-18 17:42] zhexiao commented on #130
$inputArray['object_id'] is a tweet id from twitter api home_timeline.

[2015-08-19 08:02] TheCatcher99 opened #132 "JSON_BIGINT_AS_STRING not implemented"
option JSON_BIGINT_AS_STRING not implemented - library/phc/tweetIt/codebird.php:1959

PHP Version 5.5.9

[2015-08-19 13:38] ashleyhindle commented on #127
`ping6 ipv6.google.com` works ok, but I don't know much about IPv6 so can't say how it's setup.  I'm using a Linode server with Ubuntu 14.04 LTS

[2015-08-20 17:54] jublo commented on #132
Thanks for pointing out occasional issues with `JSON_BIGINT_AS_STRING`. Please note that you can overcome this by upgrading your PHP JSON library, as outlined at http://stackoverflow.com/questions/19520487/json-bigint-as-string-removed-in-php-5-5.

This issue is not from Codebird itself, see various results: https://www.google.com/search?q=%22option+JSON_BIGINT_AS_STRING+not+implemented%22.

Does

[2015-08-20 17:56] jublo commented on #127
Sorry to state we ourselves cannot do much to this right now. How about we add a setting for `CURL_IPRESOLVE_V4`, so you can optionally turn IPv6 off in Codebird, @ashleyhindle?

[2015-08-24 04:34] ingenuous67 opened #133 "Sending a tweet is not successful"
hi
i want to use codebird-php to tweet a webpage to my tweet account via php code.
this is my code:

[code]

but no action happened.
no error!
i sure:
curl extension and openssl extension is enabled on my host!
php version is 5.4
consumerKey, consumerSecret, accessToken, and accessTokenSecret  is created on apps.twitter
can anyone help me?

[2015-08-29 14:45] jublo commented on #133
When you change your code like this, what is shown?

[code]

[2015-08-29 14:58] #130 closed

[2015-08-29 15:02] jublo commented on #130
Thanks @zhexiao! This is now fixed.

[2015-09-06 23:24] lifeboatpres opened #134 "Compressed remote images"
I was unable to use codebird-php with http://www.inc.com/uploaded_files/image/970x450/Bill-970_23752.jpg

The solution was to add curl_setopt($ch, CURLOPT_ENCODING, 'gzip,deflate,sdch'); at

[code]

[2015-09-22 08:08] Fearitude opened #135 "Invalid headers error from file_get_contents running on Google AppEngine"
Im getting the following error when trying to make any call to twitter using codebird on appengine.
[code]

file_get_contents is implemented as a wrapper for the URLFetch service so it must behave slightly differently than the normal php implementation.

Basically what codebird is passing to the function is something like this:
[code]
and it needs to be:
[code]

When i looked into it a bit more i

[2015-09-23 10:16] jublo commented on #135
What CB version are you using?

[2015-09-23 10:56] Fearitude commented on #135
2.7.1

[2015-09-23 12:04] jublo commented on #135
Thanks for your report! We will get to fix this soon. :)

[2015-09-23 12:05] jublo commented on #135
https://cloud.google.com/appengine/docs/php/urlfetch/

[2015-09-23 12:07] jublo commented on #135
Codebird should not be passing a header array, according to the PHP specification of `stream_context_create`, but indeed a concatenated string. Fixing this!

[2015-09-23 12:30] #135 closed

[2015-09-23 12:31] jublo commented on #135
@Fearitude Please verify that Codebird-PHP 2.7.2 fixes this bug!

[2015-09-23 12:35] jublo commented on #134
Thanks Eric for spotting this! Can you send a pull request to `develop` branch, please?

[2015-09-23 14:45] Fearitude commented on #135
Yeah that's fixed it. Thanks!

[2015-09-23 17:31] ShapCyber commented on #1
I am using version 3.0.0
It work for me like a charm.

Here my approach

$accesstoken="******************";
$accesstokensecret="******************";
$consumerkey="******************";
$consumersecret="******************";

\Codebird\Codebird::setConsumerKey($consumerkey, $consumersecret); // static, see 'Using multiple Codebird instances'
$cb = \Codebird\Codebird::getInstance();
$cb->setToken($acc

[2015-09-26 10:34] lifeboatpres commented on #134
Pull request sent!

[2015-10-07 09:49] nirmalthumber opened #137 "status update with media issue"
I am using this example : https://github.com/jublonet/codebird-php#uploading-media-to-twitter

For media update on twitter .previously it was working fine . But today when i try to upload media .. it will update simple image two times.

Here is the example.
Here i try to upload two images . But when it will update to twitter total 4 images updated
![pasted_file](https://cloud.githubusercontent.com

[2015-10-07 09:58] jublo commented on #137
The issue is that you add the media ids to the array multiple times. Try to add the following line of code **before** your line `foreach ($media_files as $file) {`:

[code]

This will reset the array.

However, in the end make sure that you only upload images once, in order not to waste traffic. You might want to walk through your code step by step, so you find out why the `foreach ($media_files a

[2015-10-07 10:05] #134 closed

[2015-10-07 10:06] jublo commented on #133
Closing this issue due to not receiving any further reply from OP.

[2015-10-07 10:06] #133 closed

[2015-10-07 10:06] #132 closed

[2015-10-07 10:16] #121 closed

[2015-10-07 10:17] jublo commented on #127
Closing this issue for now as we haven't received any further reply from you.
@ashleyhindle If this is still an issue for you, please reply to above question.

[2015-10-07 10:17] #127 closed

[2015-10-07 10:49] nirmalthumber commented on #137
Yes forgot to add

       $media_ids = array();

Before ```foreach ($media_files as $file)```. Thanks for the guidance @jublo

This issue is resolved

[2015-10-07 10:49] #137 closed

[2015-10-07 10:59] #129 closed

[2015-10-07 11:00] jublo commented on #129
@lifeboatpres Please test this.

[2015-10-17 18:49] gourabnagDev opened #138 "How to access this api - users/suggestions/:slug"
##Hello!

I was wondering what would be the format of the method to be called to get results from this url - https://api.twitter.com/1.1/users/suggestions/:slug.json

[2015-10-19 18:00] jublo commented on #138
Have you tried this?

[code]

[2015-10-21 18:26] gourabnagDev commented on #138
OKAY! Thanks It worked!

[2015-10-21 18:26] #138 closed

[2015-10-28 09:23] wookiecookie87 opened #139 ""Invalid or expired token." on users_show() and account_verifyCredentials()"
I am working on twitter sign-up on my web application and I have an issue that I am not quite sure what the problem is.

      public function signIn(){
			  if($this->hasCallback()){
				$this->verifyTokens();

				$reply = $this->client->oauth_accessToken([
					'oauth_verifier'=> $_GET['oauth_verifier']
				]);

				if($reply->httpstatus === 200){
					$this->storeTokens($reply->oauth_token, $r

[2015-10-28 17:08] emersonthis opened #140 "Unable to connect to streaming API"
I'm following the instructions on the readme for [connecting to the streaming API](https://github.com/jublonet/codebird-php#consuming-the-twitter-streaming-api). I added my own working authentication credentials and then copied the example exactly. I get the following error:

[code]

[2015-10-30 05:39] #139 closed

[2015-10-30 08:37] jublo commented on #139
@wookiecookie87 What was the solution?

[2015-11-06 09:56] jublo commented on #139
@wookiecookie87 You'd want to add another call to `verifyToken`, so the obtained access token and secret are not only stored in `$_SESSION`, but also known to Codebird.

[code]

[2015-11-06 15:18] wookiecookie87 commented on #139
Yes!!  That worked perfectly.  Thank you so much. That was load off of my
shoulder.
On Oct 30, 2015 5:37 PM, "Jublo" <notifications@github.com> wrote:

[2015-11-14 10:38] AdrianwithaW opened #141 "Getting "Media type unrecognized" when trying to use update_profile_image"
As I understand it, this is supposed to be posted using a base64 encoded image, don't seem to be having any luck.

This is all I'm using to post, have tried several variations of the same thing:
[code]
Is there something I'm missing, I thought this would be a cake walk. The image is under the dimension and size restrictions as per the Twitter API.

[2015-11-14 11:45] jublo commented on #141
@AdrianwithaW Thanks for the report, we’ll take a look at this soon.

[2015-11-24 04:33] nitinthewiz commented on #77
@jublo I know this is an old issue that was closed last year, but if I may... I have the same problem and this is a tweet that I got when I used the above code - https://twitter.com/nitinthewiz/status/649153550451257344

You'll notice that the hash portion of the URL is being completely ignored by twitter.

Do you wish me to open a new issue for this or can we continue discussion on this thread?

[2015-11-24 18:23] jublo commented on #77
@nitinthewiz Thanks for reaching out. We may resume the discussion in here. You said you used the code above and just swapped the URL, to create the Tweet you linked to?

[2015-11-24 19:11] nitinthewiz commented on #77
@jublo

My creation code looks as follows -

if (strlen($text) >= 141){
    $TwURL = 'http://liveblog.nitinkhanna.com/'.$comment_id;
    $Twtext = substr($text, 0, 75);
    $Twtext = $Twtext.'... '.$TwURL;
}
$params = array(
    'status' => $Twtext
);
$reply = $cb->statuses_update($params);

And yes, this creates the tweet I linked to. As I pointed out, Twitter ignores the # portion of the URL.

I

[2015-11-26 01:43] gearguy365 opened #142 "Request error for API call encountered when application deployed in web server"
My application work fine on localhost, but when i deploy it in web server, i am encountering an error like the following:

[code]

Even when i am using just the boilerplate code provided in the documentation to acquire oauth_token and oauth_token_secret for an user.

[2015-11-26 08:22] joshuaatkins commented on #142
Hi @gearguy365

Do you have any outgoing firewall on your server? It appears it maybe blocking port 443 to the API server as it is timing out.

Thanks,

JA

Sent from my iPhone

[2015-12-03 19:07] jublo commented on #77
Please post a full output of this changed code of yours, adding a line:

[code]

Thanks!

[2015-12-04 20:11] jublo commented on #120
This is out of scope for Codebird itself. We are looking whether to make available a separate library in JS and/or PHP for accessing the Twitter Ads API.

[2015-12-04 20:39] jublo opened #144 "Support Collections API"
https://dev.twitter.com/rest/collections

[2015-12-04 20:41] #144 closed

[2015-12-05 12:26] jublo opened #145 "Support TON API"
https://dev.twitter.com/rest/ton

[2015-12-05 12:42] #145 closed

[2015-12-05 15:31] #120 closed

[2015-12-05 15:33] jublo commented on #120
@JosephOR In order to perform the call to https://dev.twitter.com/ads/reference/get/accounts/%3Aaccount_id/campaigns/%3Acampaign_id, you’d use the following Codebird-PHP call:

[code]

[2015-12-05 16:38] jublo commented on #141
@AdrianwithaW With your code from above, I’m getting this one:

[2015-12-05 17:18] jublo commented on #141
@AdrianwithaW This version will now work (note the missing data URL prefix and the array syntax for parameters) in Codebird 3.0.0:

[code]

[2015-12-05 19:09] jublo commented on #140
@emersonthis Which Codebird version are you using? The Streaming API will get added in Codebird-PHP 3.0.0 (Release Candidate due within days), and the README is from the `develop` branch. Please try updating to `3.0.0-dev` and retry—does it work now?

[2015-12-05 19:11] #140 closed

[2015-12-05 19:11] #141 closed

[2015-12-06 11:15] jublo commented on #77
@nitinthewiz https://twitter.com/LarryMcTweet/status/673460324746555392

The link does include the hashtag properly, sent with this code from Codebird-PHP 3.0.0-beta.1:

[code]

[2015-12-06 11:15] #77 closed

[2015-12-19 09:58] arth1992 opened #146 "Internal Server Error"
Hey guys first thanks a lot for this api.
I want to show live stream tweets in my dashboard. I am using this API but it shows internal server error
[code]

Any help regarding this or is there any error in API

[2015-12-20 04:06] #142 closed

[2015-12-20 04:15] jublo commented on #146
@arth1992 Which version of Codebird and which PHP version are you using?

[code]

[2015-12-24 22:11] mihroot opened #147 "Undefined index: statuses/update Line Number: 1703"
PHP notification occurs when $method_template/key(in my case `statuses/update`) not exists in self::$_possible_files array.

[2015-12-25 09:36] jublo commented on #147
Can you give me a sample which calling code will cause this?

[2015-12-27 22:48] mihroot commented on #147
Hi! Sorry for my late reply.
Here is a sample:

[code]

[2015-12-28 11:02] #147 closed

[2015-12-28 11:04] jublo commented on #147
Testing your patch was successful—no PHP Notice was thrown.

https://twitter.com/LarryMcTweet/status/681430422723649536

[2015-12-28 16:44] edent opened #149 "Secure link to PEM"
Re: https://github.com/jublonet/codebird-php/blob/release/3.0.0/src/cacert.pem#L9

Would it be worth changing this to be https?  i.e.

`https://hg.mozilla.org/releases/mozilla-release/raw-file/default/security/nss/lib/ckfw/builtins/certdata.txt`

[2015-12-28 16:58] edent opened #150 "Slow performance with lists"
While trying to request a list like `SkylineSocialCo/worldwide-influencers/members` I'm seeing  >10sec response times. This doesn't happen if I switch back to an older version of CodeBird.

Performance of all other calls seems fine - but this one call seems abnormally slow.

[code]

[2015-12-28 20:26] jublo commented on #150
What version of Codebird are you using?

[2015-12-28 21:21] edent commented on #150
3.0.0-rc.1 - downloaded a few hours ago.

Running on PHP7 if that helps.

[2015-12-29 04:57] jublo commented on #150
In short: Cannot reproduce here. Please give me more details. If you prefer to send sensitive data over S/MIME encrypted e-mail, you should already have our certificate on file from the Codebird news mailing.

- **PHP 5.5.30:**
<img width="435" alt="bildschirmfoto 2015-12-29 um 05 48 23" src="https://cloud.githubusercontent.com/assets/6348321/12029634/cb7dd228-adef-11e5-9f80-73e22e58227d.png">
The

[2015-12-29 09:38] jublo commented on #149
I can update the link, but the whole cacert.pem file is directly copied from this upstream source: http://curl.haxx.se/docs/caextract.html

So it would be best to have it changed to https in their original.

[2015-12-29 09:42] jublo commented on #150
@edent Please give more details on this when you can. :star2:

[2015-12-29 09:44] jublo commented on #146
@arth1992 Please tell us your system details, see https://github.com/jublonet/codebird-php/issues/146#issuecomment-166061313.

[2015-12-29 09:45] #34 closed

[2015-12-29 11:35] edent commented on #150
Ugh. PEBCAK.  Was somehow calling it recursively...  Too much mulled-wine in my bloodstream.

Sorry!

[2015-12-29 11:35] #150 closed

[2015-12-29 18:11] jublo commented on #150
Thanks for your feedback, Terence! :+1:

[2015-12-29 18:11] jublo commented on #149
@edent Mind commenting on this one, too?

[2015-12-29 19:50] edent commented on #149
:+1:

[2016-01-01 10:46] #149 closed

[2016-01-04 06:35] josephmo opened #151 "Issue running on Ubuntu 14.04"
I am getting the following warning when running a script that uses codebird:

PHP Warning:  json_decode(): option JSON_BIGINT_AS_STRING not implemented in /home/do-they-follow/gen_include/codebird/codebird.php on line 2517

This is with version 3.0.0

[2016-01-04 06:50] jublo commented on #151
What PHP version are you using?

[2016-01-04 07:21] josephmo commented on #151
PHP Version => 5.5.9-1ubuntu4.14

[2016-01-04 17:57] jublo commented on #151
Thanks! We’ll work to reproduce this asap.

[2016-01-04 18:42] josephmo commented on #151
Let me know if you want me to set up space on my server for your testing.

On Mon, Jan 4, 2016 at 9:57 AM, Jublo <notifications@github.com> wrote:

[2016-01-05 22:44] PunKeel opened #152 "Throw Exception on failed remote media download"
Hello,

I've received an error when trying to upload an image from an URL:
[code]

Quite sure it worked before 3.0.

URL: `https://epicube.fr/files/article/3853080-ragecraft.png` (certificate by LetsEncrypt)
Error from the API: `unknown media type`

Workaround: using the local file path instead.

Note: The same URL is used for the Facebook/Twitter thumbnail, so I don't think it comes from the imag

[2016-01-06 00:22] ibasaw opened #153 "upload multiple medias ?"
...

     $media_ids = implode(',', $medias);

            $params = array(
                'status' => $status,
                'media[]' => $media_ids
            );

            $reply = $cb->statuses_updateWithMedia($params);

...
response:

    stdClass Object
    (
        [errors] => Array
            (
                [0] => stdClass Object
                    (
                        [co

[2016-01-06 18:46] jublo commented on #153
What does this show?

[code]

[2016-01-06 18:47] jublo commented on #152
@PunKeel First of all, thank you very much for your extensive report. This will help to find the reason for the failing media post. I’ll take a close look at what happens and get back to you afterwards.

[2016-01-06 18:49] jublo commented on #152
What does the following code show?

[code]

[2016-01-06 18:50] ibasaw commented on #153
string(75)     "684809099960279040,684809101583499264,684809102908874752,684809105249275904"

[2016-01-06 18:57] PunKeel commented on #152
With the URL given:
[code]

With relative file path:
[code]

[2016-01-06 19:02] PunKeel commented on #152
... My bad. I var_dump'ed the downloaded file content (line 1802 in codebird.php), and ... 403 Forbidden.

I block everything with a "PHP" user agent ...

Sorry for the useless report (unless you turn it into a "throw exception if media download fails" ?)

[2016-01-06 20:13] jublo commented on #152
Maybe you’d like to add our user agent to the whitelist?

It’s `codebird-php/3.0.0 +https://github.com/jublonet/codebird-php` currently, but expect the version to increment, like `3.1.0-dev` or `3.1.0-rc.1`. This regex would match:

[code]

[2016-01-06 20:20] #152 closed

[2016-01-06 20:21] jublo commented on #152
@PunKeel Please test if failing remote media downloads now throw an Exception.

[2016-01-06 20:43] PunKeel commented on #152
Not tested but I don't think this would work, I put my var_dump right before that line: https://github.com/jublonet/codebird-php/blob/9c9a5206d9f32d1e6d5b4e94f6698e8799af2338/src/codebird.php#L1827

[2016-01-06 21:00] jublo commented on #152
@PunKeel I have amended the code and added unit tests for it, can you verify?

https://github.com/jublonet/codebird-php/blob/5682f3758ae865e8eec0ffc3aaf169e9f7062256/src/codebird.php#L1840

[2016-01-06 21:38] PunKeel commented on #152
Working fine, thanks!

[2016-01-06 21:38] jublo commented on #152
Great! This feature is going to be included in Codebird-PHP 3.1.0.

What about the User-Agent whitelisting?

[2016-01-06 21:39] PunKeel commented on #152
Disabled on my side, there's no real reason for it (legacy config to block bots) :)

[2016-01-08 02:56] dodyagung commented on #153
try :
[code]
because ```statuses/update_with_media``` has been deprecated

[2016-01-08 12:07] ibasaw commented on #153
ok, now more this error, but got error with medias:

    stdClass Object
    (
      [errors] => Array
        (
            [0] => stdClass Object
                (
                    [code] => 32
                    [message] => Could not authenticate you.
                )

        )

    [httpstatus] => 401
    [rate] =>
    )

i can authenticate, when i send only text, it works.

[2016-01-11 18:32] ibasaw commented on #146
@arth1992 : look at your php logs, you can found where problem is.

[2016-01-11 18:35] ibasaw commented on #151
@josephmo : look here: https://github.com/firebase/php-jwt/issues/9

[2016-01-11 22:42] ibasaw commented on #153
nobody use automatic photos post to twitter ?

[2016-01-15 06:41] nit28391 commented on #97
This works fine but can anyone tell me "How can I retweet with quote text using codebird?"

[2016-01-15 06:53] nit28391 opened #154 "Retweet with quote using codebird"
Can anyone tell me "How can I retweet with quote text using codebird?"
for retweet without quote I used
$reply = $cb->statuses_retweet_ID(array('id' => $id));
but can we retweet with quote?

and please provide any link which contains docs of all functions in codebird liberary.

Thanks :)

[2016-01-15 08:23] dodyagung commented on #154
Just post a regular tweet + Twitter link at the end. Bingo.

[2016-01-16 15:25] jublo commented on #154
@dodyagung is correct. For posting a quote, you need to get the `screen_name` and the Tweet ID. Then go as follows:

[code]

[2016-01-16 15:28] jublo commented on #154
Note to self: Add this sample to the README file.

[2016-01-16 15:29] jublo commented on #146
@arth1992 Please give us feedback on this issue soon, or we’ll have to close it for inactivity. @ibasaw Sébastien, thank you for chiming in! :+1:

[2016-01-16 22:56] rtconner opened #155 "exception 'ErrorException' with message 'json_decode(): option JSON_BIGINT_AS_STRING not implemented' in jublonet/codebird-php/src/codebird.php:2517"
PHP 5.5.9-1ubuntu4.14
On Ubuntu

Seems like this is a known issue out there that you have to hack around it - http://stackoverflow.com/questions/19520487/json-bigint-as-string-removed-in-php-5-5

[2016-01-17 10:33] jublo commented on #155
See #151, you’re invited to chime in there!

[2016-01-17 10:33] #155 closed

[2016-01-17 10:33] jublo commented on #151
@rtconner commented:

On Ubuntu

[2016-01-17 10:34] jublo commented on #151
Can someone make a bold suggestion, please, as how to handle the case of this constant either not defined or not working in some PHP installations?

[2016-01-17 10:36] jublo commented on #132
See #151.

[2016-01-17 10:37] jublo commented on #151
Back in #132, I had [commented](https://github.com/jublonet/codebird-php/issues/132#issuecomment-133097764):

Is that a feasible solution for anyone? Or should Codebird handle this possible error internally? How to catch it?

[2016-01-17 16:41] rtconner commented on #151
I can't upgrade mine at this time. Just add a wrapper to json decode ...
[code]

[2016-01-20 12:44] nit28391 opened #156 "Follow/unfollow friends using codebird"
Is there any function to follow a specific user as such
$cb->follow_user('screen_name' => $q);
and
$cb->Unfollow_user('screen_name' => $q);

[2016-01-21 13:30] nit28391 commented on #88
can we use
$resp = $cb->friendships_destroy(array("follow" => true, "user_id" => $twitter_user_id));
to UNFOLLOW friend?

[2016-01-22 12:46] nit28391 commented on #154
I tried this as well before, but it looks different than retweet which is done from twitter.
ACTUAL :
![image](https://cloud.githubusercontent.com/assets/16715244/12510995/f0824714-c133-11e5-8f29-56bb4b2b5502.png)

EXPECTED :
![image](https://cloud.githubusercontent.com/assets/16715244/12511031/2bfe0f58-c134-11e5-9fcc-6b7bc959c364.png)

[2016-01-22 13:16] nit28391 commented on #154
yup, thanks, my URL was wrong.

[2016-01-22 13:16] #154 closed

[2016-01-22 20:17] jublo commented on #88
@nit28391 Your code will work. You can use a shorter one, though:

[code]

[2016-01-23 12:51] jublo commented on #156
@nit28391 Codebird does not wrap the Twitter API methods with its own names. Instead, it calls the Twitter API directly, even while we understand this may not be easy to understand at first glance.

Please take a look at the documentation for these methods:

- Following a user: [POST friendships/create](https://dev.twitter.com/rest/reference/post/friendships/create)
- Unfollowing a user: [POST fri

[2016-01-23 13:09] jublo commented on #151
@josephmo @ibasaw @rtconner Please check if the patch in 080a03b works fine.

[2016-01-23 13:15] jublo commented on #153
Hi @ibasaw,

I just tested this with the following code:

[code]

It resulted in the following Tweet created: https://twitter.com/LarryMcTweet/status/690885193083781120

As you can see, both images were uploaded and successfully Tweeted. Question being, what is the difference between your code and mine?

[2016-01-25 05:03] nit28391 commented on #156
yup, thanks a lot.

[2016-01-25 05:03] #156 closed

[2016-01-25 05:07] nit28391 opened #157 "Search users using codebird"
I am trying to search users based on some keywords. For example..... if I enter "nit" so it will return all users matching word "nit".

I had implemented this in searching tweets by using
"$cb->search_tweets($params)"

So is there any method to search users.

[2016-01-25 09:30] jublo commented on #157
Yes, there is. Please take a look at the documentation: [GET users/search](https://dev.twitter.com/rest/reference/get/users/search).

[code]

Does this work for you?

[2016-01-25 09:33] jublo commented on #151
@josephmo @ibasaw @rtconner This fix is included in Codebird-PHP 3.1.0 Beta 1. Please test with this version and provide feedback until Friday 29 January 2016.  If we don’t get any replies, we have to assume everything is fine.

[2016-01-25 10:57] nit28391 opened #158 "List of ONLY "following" users"
I have used "'friends/list','followers/list'," to get list of users who follows me and who are friend of mine,
following are 3 cases which I have used functions for, but I need answer for 3rd condition:
1) users who follow me
            $cb->followers_list(array('count' => $count));

2) users who follow me and I too follow them
            $cb->friends_list(array('count' => $count));

3) users wh

[2016-01-25 10:58] nit28391 commented on #157
Thanks, I got solution. :+1:

[2016-01-25 10:58] #157 closed

[2016-01-25 11:00] jublo commented on #158
`GET friends/list` will return all users that you are following, even if they don’t follow you back.

For finding out about users who you follow, but who don’t follow back, you’d have to intersect the results of both queries:

1. Get all people you follow.
2. Get all people that follow you.
3. For each user that follows you, delete them from the list from step 1.

The result will be a list with al

[2016-01-25 11:10] nit28391 commented on #158
yup, I was also thinking of same logic but, I thought is there any function same as "followers", still thanks, I will try.

[2016-01-25 11:58] ibasaw commented on #151
i don't have this error: JSON_BIGINT_AS_STRING on my setup

[2016-01-25 12:24] ibasaw commented on #153
ok, i send wrond key in the statuses_update, now it works.

Thank uou very much @jublo  :)

[2016-01-25 12:24] #153 closed

[2016-01-25 13:30] #158 closed

[2016-01-25 13:32] nit28391 opened #159 "Total followers and total friends"
I am using this to fetch followers and friends total count
$cb->followers_list(array('count' => $count));
$cb->friends_list(array('count' => $count));
but what I should pass in "count" if I want to get total count of followers and friends, because when I passed nothing in count, it returned 20 records which is default count.

[2016-01-30 00:30] rtconner commented on #151
Dang, I'm still getting this error. I dunno. I'll just use an old version of your library as I've been doing.
exception 'ErrorException' with message 'json_decode(): option JSON_BIGINT_AS_STRING not implemented'

[2016-01-30 00:30] rtconner commented on #151
Dang, I'm still getting this error. I dunno. I'll just use an old version of your library as I've been doing.
exception 'ErrorException' with message 'json_decode(): option JSON_BIGINT_AS_STRING not implemented'

I tested on dev-master on composer

[2016-01-30 12:50] jublo commented on #151
@rtconner dev-master doesn’t include the fix yet, since 3.1.0 is not yet released. Please test on this: https://packagist.org/packages/jublonet/codebird-php#3.1.0-beta.1.

[2016-02-15 18:41] #151 closed

[2016-02-25 04:27] #146 closed

[2016-02-25 04:29] jublo opened #161 "Update oembed API method endpoint"
Update any affected code to request and decode a JSON response instead:
https://publish.twitter.com/oembed?url=https%3A%2F%2Ftwitter.com%2Fjack%2Fstatus%2F20

Must be done before 1 May 2016.

[2016-02-25 04:56] jublo opened #162 "Upload timeout with videos"
por tu tiempo gracias.

Fatal error: Uncaught exception 'Exception' with message 'Request error for API call: Operation timed out after 10000 milliseconds with 0 bytes received' in /...../public_html/vendor/twitter/src/codebird.php:2044 Stack trace: #0 /......../public_html/vendor/twitter/src/codebird.php(1996): Codebird\Codebird->_callApiCurl('POST', 'media/upload', 'media/upload', Array, true, f

[2016-02-26 18:32] thakurinbox commented on #77
Is there any solution to the original problem discussed here. I am having same issue and not able to figure out how to resolve it. Issue comes when we try to post any url in status message.

For example:

[code]

Thanks!

[2016-02-26 18:39] jublo commented on #77
@thakurinbox Can you please show me

* the output (Tweet) when using your code sample,
* your Codebird version, and
* your PHP version?

Thank you in advance.

[2016-02-27 06:56] thakurinbox commented on #77
Hey @jublo Thanks for your prompt response. I figured it out.

I needed to replace double inverted comma with single and vice versa.

Thanks!

[2016-03-03 15:34] jublo commented on #77
Well, but your sample code should definitely not cause any trouble here, so there ought to be a bug, hm. @thakurinbox

[2016-03-03 15:35] jublo commented on #77
If you could just tell me the Codebird version you're using…

[2016-03-17 08:28] letungit90 opened #163 "Ads API Version 1.0"

[2016-03-29 10:30] blackbulldog opened #164 "Uncaught exception when trying to use proxy"
Hi,
keep getting the following msg when trying to use a proxy ($cb->setProxy). Works fine when not using proxy.

I can also switch to the proxy using FoxyProxy and surf away quite happily.

Here is the error:

Fatal error: Uncaught exception 'Exception' with message 'Request error for API call: couldn't connect to host' in /home2/gypmaste/public_html/utils/codebird/src/codebird.php:2062 Stack trac

[2016-03-29 12:42] hitesh1802 opened #165 "Video upload using chunk issue."
Hi

I am facing while uploading video using media api.
stdClass Object
(
    [errors] => Array
        (
            [0] => stdClass Object
                (
                    [code] => 324
                    [message] => The validation of media ids failed.
                )

        )

    [httpstatus] => 400
    [rate] => stdClass Object
        (
            [limit] => 615
            [remai

[2016-03-29 13:08] jublo commented on #165
Can you please post a complete code sample?

[2016-03-29 13:11] hitesh1802 commented on #165
//getting extension of file.
$ext = pathinfo($_FILES['tweet_video']['name'], PATHINFO_EXTENSION);
$newFileName = time().".".$ext;
move_uploaded_file($_FILES['tweet_video']['tmp_name'], $newFileName);
//make tweet in twitter account.
$size_bytes = filesize($newFileName);
$fp         = fopen($newFileName, 'r');
// INIT the upload
$reply = $cb->media_upload(array(
 'command'     => 'INIT',
 'media_ty

[2016-03-29 13:11] hitesh1802 commented on #165
//getting extension of file.
		$ext = pathinfo($_FILES['tweet_video']['name'], PATHINFO_EXTENSION);
		$newFileName = time().".".$ext;
		move_uploaded_file($_FILES['tweet_video']['tmp_name'], $newFileName);

		//make tweet in twitter account.
		$size_bytes = filesize($newFileName);
		$fp         = fopen($newFileName, 'r');

		// INIT the upload
		$reply = $cb->media_upload(array(
		  'command'

[2016-03-29 13:22] jublo commented on #163
What is your issue with the Ads API, @letungit90?

[2016-03-29 13:24] jublo commented on #164
Hi @blackbulldog,

* Which Codebird version are you using?
* Which PHP version are you using?
* What connection types does your proxy support (HTTP, HTTPS, Socks…)?

[2016-03-29 13:25] jublo commented on #165
What Codebird and PHP version are you using?

[2016-03-29 13:27] hitesh1802 commented on #165
PHP version 5.5.12 and Codebird 3.1.0

[2016-03-29 13:28] jublo commented on #165
Great! Thank you very much. We will look into this soon.

[2016-03-29 13:30] jublo commented on #165
Can you please send us a sample video that causes the fail?

[2016-03-29 13:32] hitesh1802 commented on #165
Ok Thank you. I think you also noticed this issue in your description. ("Media Id is not valid") where as media id is correct.  I read most of community forum on twitter (Link which you wrote.).

http://tree.solucionatime.com/uploads/1459257408.mp4

[2016-03-29 13:37] jublo commented on #165
Sorry?

[2016-03-29 13:39] hitesh1802 commented on #165
sorry i am getting "The validation of media ids failed." this error.
Is there any mistake in video?

[2016-03-29 13:40] jublo commented on #165
What does the FINALIZE call tell you?

[2016-03-29 13:40] hitesh1802 commented on #165
stdClass Object
(
    [errors] => Array
        (
            [0] => stdClass Object
                (
                    [code] => 324
                    [message] => The validation of media ids failed.
                )

        )

    [httpstatus] => 400
    [rate] => stdClass Object
        (
            [limit] => 615
            [remaining] => 612
            [reset] => 1459260293

[2016-03-29 14:52] jublo commented on #165
Could be an issue with the file type or codec - can you please open an issue here?

https://twittercommunity.com/c/Media-APIs

[2016-03-29 16:27] letungit90 commented on #163
Twitter ads api version 1.0 is available now, it have a big change about stats api. I would like that Codebird will support for version 1.0 and new api as soon as possible.

[2016-03-29 18:58] jublo commented on #163
We’re going to work on that really soon! :)

[2016-03-29 19:27] blackbulldog commented on #164
Hi,

Versions are:

Codebird  - 3.1.0
php - 5.4

Connection type is http

Thanks

On 29 March 2016 at 14:24, Jublo <notifications@github.com> wrote:

[2016-03-30 06:15] hitesh1802 commented on #165
Hi Jublo,

I found issue with my video, i tried another 3 videos which satisfy twitter conditions. and now it's working fine.

Again thank you for your help and kind reply.
Thanks.

[2016-03-30 06:15] #165 closed

[2016-03-30 06:55] jublo commented on #165
Have you encountered a media codec issue?

[2016-03-30 09:22] blackbulldog commented on #164
Hi there,

update - seems to be working fine now.

Not sure what's different today from yesterday ... maybe a proxy problem.

Anyway, it's working now, thanks.

love the codebird, makes the twitter stuff so easy.

On 29 March 2016 at 20:27, Mark <mark@27mb.info> wrote:

[2016-03-30 09:23] blackbulldog commented on #164
Crap ... spoke too soon .... issue is still there!!!

On 30 March 2016 at 10:22, Mark <mark@27mb.info> wrote:

[2016-03-30 09:36] hitesh1802 commented on #165
Yes. I tried with another video and it's working fine.

On Wed, Mar 30, 2016 at 12:25 PM, Jublo <notifications@github.com> wrote:

--
Thanks,
Hitesh Dobariya,

[2016-03-31 09:56] blackbulldog commented on #164
Hi,

Tried setting the proxy type in the call to the method:

$cb->setProxy('173.208.46.196', '8800', 'CURLPROXY_HTTP');

still keeps throwing this error:

*Fatal error*: Uncaught exception 'Exception' with message 'Request error
for API call: couldn't connect to host' in
/home2/gypmaste/public_html/utils/codebird/src/codebird.php:2064 Stack
trace: #0
/home2/gypmaste/public_html/utils/codebird/src

[2016-04-10 14:37] PeteKT opened #166 "Keep getting banned"
We wrote a php script that used to use codebird 3.0 it checks an rss feed for  updates if we havent tweeted the update in 24 hours it would tweet it, the php is run by a cron every 5 minutes, we never had a problem then one day it got banned from writting to twitter so we updated to 3.1 the script will run anywhere from an hour to 8 hours before twitter bans the app and i have to make a new app an

[2016-04-10 16:14] jublo commented on #166
Hello @PeteKT, this is not an issue with Codebird 3.0 or 3.1.

Please take some minutes to re-read the Twitter Rules about automation: https://support.twitter.com/articles/76915

[2016-04-10 16:14] #166 closed

[2016-04-10 16:41] PeteKT commented on #166
I wasn't saying it had to do with the codebird script. I was asking for help in solving my problem. Sorry if I worded it wrong.

[2016-04-10 17:01] jublo commented on #166
@PeteKT You are welcome to post in the community rules and policies forum of course:
https://twittercommunity.com/c/rules-and-policies

[2016-04-14 20:14] PeteK209 opened #167 "using code bird 3.1 problem with media"
Im trying to add media to my script

I want to be able to use a variable in php to generate the image url when i do this like i would with any other $variable it gives me an error creating status

$imgurl = 'https://twitter.com/" . $name . "/profile_image?size=original';

//Tweet Sending API
function tweet($message) {

[code]

}

[2016-04-18 17:45] PeteK209 commented on #167
anyone?

[2016-04-18 17:46] jublo commented on #167
Working on this one! Sorry for the delay. I will keep you posted as soon as I have news. :)

[2016-04-18 17:48] PeteK209 commented on #167
Thank you. If I add my own profile image to the media => tag it works but when I try to put a variable it tells me status not made. I can post the whole .php file if that will help

[2016-04-19 15:14] christophrumpel opened #168 "Cannot retrieve tweets from streaming api, just loading"
Hey, I'm trying to retrieve tweets from the Twitter streaming api but I can't get it to work. I would love to see a full example of the code that is needed. Is there a way you could provide that?

Here is what I copied together from the documentation. When first hit my application I get asked for the auth to my twitter app. This seems to work, aber after the redirect, the site is just loading with

[2016-04-23 12:07] chuja3 opened #169 "url with image"
how to tweet text with url with image and description like this https://twitter.com/nytimes/status/723839705817731072

[2016-04-24 09:47] jublo commented on #169
This is because the New York Times uses Twitter Cards. These are embedded previews based on meta data that are contained within the target page of the link in the Tweet. To use Cards, you'd add those tags to your page, then apply for Twitter Cards (see link below). Afterwards, it's sufficient to include a link to your webpage in the Tweet, and the preview will render on Twitter and in supported cl

[2016-04-24 14:26] chuja3 commented on #169
thank you for your fast responce!
look at this link at tell me what is the problem
http://emagzen.com/article/%D8%A8%D9%86%D9%83-%D8%A7%D9%84%D9%85%D8%BA%D8%B1%D8%A8-%D9%8A%D9%82%D8%B1%D8%B1-%D8%AA%D8%AD%D8%B1%D9%8A%D8%B1-%D8%B5%D8%B1%D9%81-%D8%A7%D9%84%D8%AF%D8%B1%D9%87%D9%85-%D9%88%D9%81%D9%83-%D8%A7%D9%84%D8%A5%D8%B1%D8%AA%D8%A8%D8%A7%D8%B7-%D8%A8%D8%A7%D9%84%D8%AF%D9%88%D9%84%D8%A7%D8%B1-%D9%8

[2016-05-03 14:10] NeoCsatornaja opened #170 "An client error occurred: The OAuth 2.0 access token has expired, and a refresh token is not available."
Hy!
I get this erorr on my page:

How can I fix this?
My code is:

[code]

(And of course I gived the datas like acsess token, and other tokens, and I included codebird.php).
I would like to auto post to twitter.
Why dosen't work?

[2016-05-15 01:41] PeteK209 commented on #167
Any updates on this?

[2016-05-15 09:03] jublo commented on #167
Hey @PeteK209, we're actively working on this one, and I will update you really soon now.

[2016-05-17 02:17] letungit90 commented on #163
@jublo can you update this issue

[2016-05-22 16:23] EXECUTOR-brandon opened #171 "Video Upload - Error Code (25) "Invalid media_id""
I have tried multiple mp4 files which are all under 1mb to avoid chunk split.  I keep receiving them same error:
object(stdClass)#3 (4) { ["request"]=> string(22) "/1.1/media/upload.json" ["error"]=> string(25) "Invalid media_id: Some()." ["httpstatus"]=> int(400) ["rate"]=> NULL }

I have researched everywhere in the twitter community and every issue relating to this error with media_id and media

[2016-05-26 13:56] kojoduncan opened #172 "TON Single Chunk Upload Not Working?"
Hello,

I tried the TON single chunk upload with the code below but I get the following response. Can you tell what I'm doing wrong.

Thanks in advance for the wonderful library.

[code]

[2016-06-07 15:17] oladipo commented on #90
Hi @jmgomezpoveda what was the encoding issue you had in your code that prevented unicode characters from displaying properly. I have the same issue and would like to know how you fixed it.

[2016-06-07 20:11] jmgomezpoveda commented on #90
@oladipo I don't remember exactly, but somewhere I was not handling characters correctly and that was corrupting the strings, even before being submitted to codebird.

[2016-06-08 11:42] ashrafhesham-92 commented on #162
I am facing the same problem , any solutions found please ? ,, thanks

[2016-06-08 11:43] jublo commented on #162
@ashrafhesham-92 Please stay tuned. We know we're in behind with working on these errors, but we will eventually get to it. :)

[2016-06-08 11:47] ashrafhesham-92 commented on #162
ok thanks your for quick reply, I am trying to upload videos from Laravel application so please notify me as soon as this issue is fixed because it is a core feature in my application

If you can just let me know how to make a curl api call to twitter to upload a video i will really appreciate that too much because i tried but i faced "bad authentication data" error.

thanks in advance

[2016-06-08 11:51] jublo commented on #162
@ashrafhesham-92 Why not take a look at https://github.com/twitter/twurl ? :)

[2016-06-08 11:55] ashrafhesham-92 commented on #162
i will check that, thanks alot :+1:

[2016-06-14 18:59] Ernest-H opened #173 "Streaming API Public Streams"
Hey, I'm trying to use the streaming API to fetch tweets from a certain hash tag as they come in.
i understand that i have to use the 'statuses/filter' request of the public streams from the streaming API but i'm having trouble translating that in code bird.

With the Streaming API example provided i recognized that the user streams from the streaming API is being used and that works fine for me(I

[2016-06-16 17:41] Ernest-H commented on #173
Okay i solved the issue
it works with just using the `$reply = $c->statuses_filter('track=Windows');` apparently windows isn't something person tweet about often

[2016-06-16 17:41] #173 closed

[2016-06-28 15:09] properties opened #174 "Unknown SSL protocol error in connection to api.twitter.com:443"
Hello,

I am adding accounts to my twitter API, and everything is working fine but sometimes it fails to add the account. I add about 20 accounts successful, then it sometimes gives this error 1-2 times and then go again. What is not right?

[code]

requestUrl.php

[code]

I am using version 3.1.0

[2016-07-01 00:02] Blackburn29 opened #175 "Twitter TON API - Multipart Invalid requests"
I followed the README exactly as it explains sending off multi-part uploads to the TON API. However I am always getting a `403` error response with no error messages.

[code]

However if I mock this EXACT call with `twurl` the operation is successful...

[code]

the request is successful.

Any ideas here?

[2016-07-20 23:20] kojoduncan commented on #175
Did you find a solution to this problem?

On Thu, Jun 30, 2016 at 8:02 PM, Blake LaFleur <notifications@github.com>
wrote:

[2016-07-20 23:23] Blackburn29 commented on #175
Yes I did. I ended up writing my own TA SDK
https://github.com/AgencyPMG/TwitterAds-PHP

The issue here is that `oauth_body_signature` is missing from the requests, but is required by Twitter. (Undocumented)

[2016-07-20 23:30] kojoduncan commented on #175
Omg. You're an angel. Thank you for sharing.

On Wed, Jul 20, 2016 at 7:23 PM, Blake LaFleur <notifications@github.com>
wrote:

[2016-08-01 20:23] mavalon opened #176 "Errors when uploading videos: Resolution too large/Duration too long"
I am using the code sample under "**Video Files**" in README.md.  It works fine _as long as I upload small videos_.  The limitations for uploaded videos is far more restrictive for sync than for async as noted here: https://dev.twitter.com/rest/media/uploading-media#videorecs

How can I upload asynchronously using codebird?  I am getting the following error when trying to upload videos that don't

[2016-08-02 17:26] andypiper commented on #176
We've just published [a Python (not PHP) sample](https://github.com/twitterdev/large-video-upload-python) that works with larger videos. It may help you to understand the steps needed to move to the async model.

[2016-08-02 21:24] mavalon commented on #176
@andypiper I don't know Python, but as far as I can tell, the logic looks pretty much the same as the **Video Files** example.  I guess there is no way to accomplish this with PHP (and more specifically, with the codebird-php library).

[2016-08-09 13:34] jimenezmaximiliano commented on #171
In the reply to the command FINALIZE you will get a new media_id, the other one is a draft and should'nt be used afterward

[2016-08-09 13:45] jimenezmaximiliano opened #177 "media/upload endpoint has a GET method too"
If you want to get the status of the file being converted or whatever on twitter, you have to use media/upload by GET.

https://dev.twitter.com/rest/reference/get/media/upload-status

You can't do that right now because media/upload is in the POST array

[2016-08-09 21:59] jublo commented on #177
@jimenezmaximiliano Thank you for noting this. We will add it to our todo list.

[2016-08-10 14:59] manzoorwanijk opened #178 "media_upload issue"
Hi,
I'm trying to update a status with media, but it doesn't work, the media ids are null

[code]

the above code shows

**Trying to get property of non-object in test.php on line 41**

array(2) {
[0]=>  NULL
 [1]=> NULL
}

and how do I upload a single file?

[2016-08-10 15:22] manzoorwanijk commented on #178
I tried both on my localhost as well as my online server, but the result is same...

[2016-08-10 15:23] jublo commented on #178
Why closing?

[2016-08-10 15:24] manzoorwanijk commented on #178
Sorry, that was my mistake...

[2016-08-16 08:08] Arun412 commented on #17
Fatal error: Class 'Codebird' not found in C:\xampp\htdocs\twitter\index.php on line 11

plz help me solve this error

[2016-08-19 12:02] iantearle opened #179 "Requirements could not be resolved to an installable set of packages"
Upon using composer update on my local machine I get the following errors:

Problem 1
    - Installation request for jublonet/codebird-php ^3.1 -> satisfiable by jublonet/codebird-php[3.1.0].
    - jublonet/codebird-php 3.1.0 requires lib-openssl \* -> the requested linked library openssl has the wrong version installed or is missing from your system, make sure to have the extension providing it.

[2016-08-27 18:11] #161 closed

[2016-08-27 18:49] jublo commented on #159
Hi @nit28391, you'll have to use Pagination to walk through the results, if you have more than 200 friends or followers. This involves using the `cursor` parameter.

[Find more details about walking through results here.](https://github.com/jublonet/codebird-php#walk-through-cursored-results)

[2016-08-27 18:49] #159 closed

[2016-08-27 18:49] jublo commented on #163
@letungit90 Looking into adding support for the Ads API 1.0 and its Stats API.

[2016-08-27 18:55] #163 closed

[2016-08-27 18:57] jublo commented on #162
@ashrafhesham-92 For uploading large files that take longer than 10 seconds, you may increase the timeout.

https://github.com/jublonet/codebird-php#set-the-timeout-for-requests-to-the-twitter-api

[2016-08-27 18:57] #162 closed

[2016-08-27 19:02] jublo commented on #167
@PeteK209 Your code worked for me in Codebird 3.2.0-dev:

https://twitter.com/LarryMcTweet/statuses/769610863292612612

Code used to Tweet:

[code]

[2016-08-27 19:03] #169 closed

[2016-08-27 19:05] jublo commented on #170
Hello @NeoCsatornaja,

The error message you quoted doesn't originate from Codebird nor Twitter. Can you please re-check?

Also, application-only auth is not supported when you send a Tweet using `statuses/update`. You will have to go through the complete OAuth flow.

[2016-08-27 19:06] jublo commented on #171
@jimenezmaximiliano Thanks for this hint. Looking into it.

[2016-08-27 19:25] jublo commented on #171
@jimenezmaximiliano In my tests, the FINALIZE command sends back the same media_id as the INIT command?

[2016-08-27 19:26] PeteKT commented on #167
When did 3.2 come out. What do I need to change to update the script. I'm working on a pre made script for someone else.

[2016-08-27 19:27] jublo commented on #175
@Blackburn29 I will take a look at your library.

[2016-08-27 19:29] jublo commented on #174
Are you still seeing this? Do you watch for any rate limits?

[2016-08-27 19:39] jublo commented on #176
@andypiper How to trigger async processing? Will the Twitter server decide on its own, so I only need to check for `processing_info` in FINALIZE?

[2016-08-27 19:44] #177 closed

[2016-08-27 19:51] jublo commented on #179
Codebird needs to have PHP with the openssl extension:

http://php.net/manual/en/book.openssl.php

This is because the Twitter library is SSL-only.

[2016-08-27 19:52] jimenezmaximiliano commented on #171
Ok. What I said wasn't exactly like that. A coworker continued the task related to this which I was developing. He found out that you get another ID making another request, I don't remember which but he found out in a twitter forum. It wasn't in the official documentation. I think that this happens because the video is processed by twitter and you have to ask if it's already converted.

[2016-08-29 15:28] jublo commented on #17
@Arun412 use `\Codebird\Codebird`?

[2016-08-31 09:05] ScooterSam opened #181 "Can't find HTTP method to use for "favourites/create/:id"."
As stated, twitter has a method to create/destroy favourites.

It doesn't seem like this is actually added? Any possible way it could be added?

[2016-08-31 09:13] ScooterSam commented on #176
To deal with this problem, i used a video manipulation package to edit the video before uploading to twitter. It's the most efficient way i could think of. Although, it will take some playing around to get everything perfect, you need to install ffmpeg etc

[2016-08-31 09:17] ScooterSam commented on #181
Nevermind... after looking through the code. I figured it was spelt "favorites" rather than "favourites"... what an annoying thing. xD

[2016-08-31 09:17] #181 closed

[2016-08-31 18:37] jublo commented on #181
Perhaps something like this?

    cb.__call("favorites_create_ID", {"id": "..."}, ...);

[2016-08-31 18:55] ScooterSam commented on #181
I managed to get it working :) thank you though, if need be i can post the code for anyone else tomorrow :+1:

[2016-08-31 19:14] jublo commented on #167
3.2 is not yet released, @PeteKT. Once it is, you should be good just to replace codebird.php and cacert.pem in your folder. Send me your email address to support@jublo.net, and you'll get a notification once it's out! (Don't worry, we hate spam, too.)

[2016-08-31 19:15] jublo commented on #171
Now that’s odd. We’d love to be able to offer complete media support in Codebird. Can you tell us what’s missing—code and/or docs—from your perspective?

[2016-08-31 19:17] jublo commented on #176
@ScooterSam Could you please connect with the OP in #171 and join forces to get these media upload issues fixed?

[2016-08-31 19:33] jublo commented on #172
@kojoduncan Can you please retry with the latest fixes?

https://github.com/jublonet/codebird-php/commit/12ef2924e0bdaeaae193515829aa74624a0e8e88

[2016-08-31 19:36] jublo commented on #175
@Blackburn29 In your code base, I can't seem to find `oauth_body_signature`?

[2016-08-31 19:38] jublo commented on #178
A single file would just be like this:

  $reply = $cb->media_upload([
    'media' => $file
  ]);
  $media_id = $reply->media_id_string;

[2016-08-31 19:40] Blackburn29 commented on #175
I used the [Guzzle O-Auth Provider](https://github.com/guzzle/oauth-subscriber) middleware to handle this for me.

[2016-08-31 19:40] jublo commented on #178
I just ran this code:

[code]

And I got this reply:

[code]

Thus, your code should work definitely.

You have this line
[code]

What is shown if you peek into the server response, like this?

[code]

[2016-08-31 19:41] jublo commented on #164
Can PHP connect to the host you were specifying?

[2016-08-31 19:46] jimenezmaximiliano commented on #171
I don't have the code anymore but I think I can fix that on the weekend. I have to fork and then made a pull request, am I right?

[2016-08-31 19:51] jublo commented on #168
Thanks for your question, @christophrumpel.
I adapted your code to this version (omitting the token stuff):

[code]

When running in the console, I see Tweets appearing, see here:

<img width="682" alt="bildschirmfoto 2016-08-31 um 21 51 01" src="https://cloud.githubusercontent.com/assets/6348321/18144053/184f3f82-6fc5-11e6-80f2-815ebc2049e7.png">

When calling in the browser, this works fine, too

[2016-08-31 19:52] jublo commented on #175
Can you tell me details of what I'd need to amend in Codebird to fix it?

[2016-08-31 19:53] jublo commented on #171
You’d best fork off `develop` and send a PR, yes. 👍

[2016-08-31 19:59] christophrumpel commented on #168
Hey thx a lot for the response! I have to say It already worked out some time ago for me. Sorry I didn't mention it here. Thx for the effort!

[2016-08-31 20:01] ScooterSam commented on #171
Here's what I'm using for video upload, i had the exact same issue but i cannot remember how i originally fixed it.

`   $file = public_path().'/video_uploads/'.$post->post_item;
                            $size_bytes = filesize($file);
                            $fp         = fopen($file, 'r');
                            $reply = $this->twitter->media_upload([
                                '

[2016-08-31 20:15] jublo commented on #168
Happy to see that the streaming API works fine here. Did you encounter anything missing in Codebird?

[2016-08-31 20:45] jimenezmaximiliano commented on #171
Hey. I have been testing this. I have copied your code EXECUTOR-brandon and changed "media_id" to "media_ids" and it worked. If I leave "media_id" as it is in your code, I don't get any error. The tweet is posted in my wall without the video. Can you try this or give me a link to the video so I can test with it?

[2016-08-31 20:48] jimenezmaximiliano commented on #171
I have talk to my ex coworker. If the video is being proccesed, you cannot use it and you will get a media_id not found error. But if you wait a while, it will work as expected. To know when is it finished you call the same endpoint but with command "STATUS".

[2016-08-31 21:04] jublo commented on #171
Of course, the parameter should be called `media_ids`. My fault.

[2016-08-31 21:09] Blackburn29 commented on #175
Refer to this discussion between Hector, Myself, and some of the Twitter devs and what we did to resolve the issue.

https://twittercommunity.com/t/uploading-data-to-ton-api-fails-using-php-curl/69758/20

That will give you a better understanding of what is wrong. If you still need help, ping me.

[2016-08-31 21:13] jublo commented on #175
From what I read, a body signature is missing. I just need to know how to calculate it.

[2016-08-31 21:20] Blackburn29 commented on #175
It's just a base64 encoded SHA1 hash of the body content.

Here is a method that Hector used.

https://github.com/hborras/twitter-php-ads-sdk/blob/master/src/Request.php#L58-L64

However I cant guarantee its success since I havent tested his code :(

[2016-08-31 21:24] jublo commented on #175
So it's a way to include the raw body into the signature, since raw bodies don't contain any parameters that could be sorted for the OAuth signature base string. So instead, we use the hash and include it as part of the OAuth headers that are signed.

[2016-09-01 08:38] andypiper commented on #176
According to the media upload (FINALIZE) docs, async behaviour is triggered when a media_category is specified.

[2016-09-11 05:39] skyleter commented on #17
havin' same problem

[Sun Sep 11 02:36:27.762127 2016] [:error] [pid 3636:tid 1864] [client ::1:61614] PHP Fatal error:  Class '\xa0\\Codebird\\Codebird' not found in C:\\xampp\\htdocs\\index2.php on line 3

[2016-09-15 20:05] zang opened #183 "360 degree video post"
I tried to post a 360 degree video to twitter but it looked flat on twitter. Is there any metadata we need post via the API call to enable 360 effect? Any advice will be highly appreciated. Thanks in advanced.

[2016-09-26 12:54] ankitdottech commented on #164
Hi I am also facing the same issue, It was working well on my local host but when I moved it to live it throws the same above error
 "Fatal error: Uncaught exception 'Exception' with message 'Request error for API call: "

Can you help me on this @jublo

[2016-09-27 17:59] ace411 opened #184 "Streaming API"
Hello there.

I am trying to set up a stream of search results so as to be able to get search data in real time.  I don't know if I should send you some code.

[2016-10-12 11:48] andypiper commented on #183
Have you seen any 360° videos working on Twitter that were posted via the website or the mobile apps?

[2016-10-27 23:49] EduardJS opened #185 "spl_autoload_register issue"
Hello guys!

I just pulled out my hair for about half hour to figure out why the heck would my code be posting the same messages twice or some times even three times, with one single call.

Problem solved after I removed the `spl_autoload_register` and I've manually required all my classes in.

Any suggestion on how to fix that because I kind of have quite a few classes and I wouldn't want to miss

[2016-11-07 08:11] jublo commented on #164
@blackbulldog Have you tried it without the quotes for the proxy type?

    $cb->setProxy('173.208.46.196', '8800', CURLPROXY_HTTP);

[2016-11-07 09:23] blackbulldog commented on #164
I dropped it altogether and used something else ... TwitterOAUTH

On 7 November 2016 at 08:11, Jublo <notifications@github.com> wrote:

[2016-11-09 08:50] #164 closed

[2016-11-10 23:36] abunour22 opened #186 "This feature is temporarily unavailable"
I have issue with oauth_accessToken function as it always returns
**This feature is temporarily unavailable**

Note: i used code of the example of codebird as it without any changes

[2016-11-10 23:43] #186 closed

[2016-11-11 02:48] abunour22 opened #187 "Downloading a remote media file failed."
Hello,

I've received an error when trying to upload an image from an URL:

        \Codebird\Codebird::setConsumerKey(twitterConsumerKey, twitterConsumerSecret);
        $cb = \Codebird\Codebird::getInstance();
        $cb->setToken($AccessToken, $AccessTokenSecret);

        $reply = $cb->media_upload([
            'media' => $image
        ]);

        $mediaID = $reply->media_id_string;

[2016-11-15 18:20] jublo commented on #187
1. Which URL are you using? 2. Does your webserver firewall allow outgoing connections? 3. Is the URL a redirection?

[2016-11-23 01:23] victorllee commented on #127
Try adding a second nameserver to /etc/resolv.conf
eg: nameserver 8.8.8.8
which is the google nameserver

I found the same issue in using codebird.php. I was getting a timeout.
Our nameserver worked, but it seemed to timeout once in a while. When I added the second name server, the issue went away.

[2016-11-24 15:50] javayoung opened #188 "Can not post video with duration > 30 seconds"
Thank you for the library. it works perfect with the video less than 30 seconds.

But when i post video greater than 30 seconds. it always return "Duration too long". I found one solution to add media_category=>twitter_video and i tried but I got different error "not_valid_video".

I checked the Twitter doc, it says it need to upload async.  How can i use codebird to async upload the video?

Thank

[2016-11-27 22:22] Imbatido opened #189 "Tag people in photo with Codebird"
Hello,

Codebird is really great, but I've a small question. When I upload an image on Twitter I can tag up to 10 people. Twitter asks "Who's in this photo?". But, how can I do this with Codebird?  To improve the reach of the tweet I want to tag people. It would be really great if this is possible.

Thanks in advance!

[2016-12-07 20:08] aironlio opened #190 "Support for STATUS command on media/upload"
If the  FINALIZE response includes "processing_info" field the Twitter doc said, 'STATUS' command is to be used to poll for the update until such time that 'state' is set to "succeeded" before we can move to next step which is usually create tweet.

The issue when using 'STATUS' command is that it requires an HTTP 'GET' method for the endpoint https://upload.twitter.com/1.1/media/upload.json and C

[2016-12-07 20:29] aironlio commented on #188
Hi javayoung,

I also encountered the same issue but I was able to pinpoint the problem.

When using 'media_category' on INIT command, you must check the 'processing_info' field on the reply when you FINALIZE the upload. You need to have a state = 'succeeded' before proceeding on tweet creation. The error not_valid_video is because you are making a tweet for an uploaded video that is not ready or

[2016-12-07 20:48] aironlio commented on #190
Wow, I just realized that I was using an old version of the library.  And this issue has been pointed out here: https://github.com/jublonet/codebird-php/issues/177

[2016-12-08 17:58] javayoung commented on #188
Thank you so much, Aironlio.

You are great and you are the only person who know how to fix it.

I have a question about your mentioned solution. "poll for update using the STATUS command until the state on processing info is equal to 'succeeded'."

Do you mean the program should continue to call status command to poll for update until the status is succeeded in a time frame say 5 minutes?  May yo

[2016-12-09 07:05] aironlio commented on #188
Hi javayoung,

Yes, you have to call status command after an async media/upload request until the processing_info 'state' field is = 'succeeded' to make sure that the media processing is already 100%. But I won't suggest to give a constant time frame like 5 min. It would be pointless if you use a longer time if what you only need is less than that. I think the processing time of the uploaded media

[2016-12-09 20:54] javayoung commented on #188
Hi Airon,

OK. i got it. Your solution is really cool. I will follow your idea to have a shot.

I didn't know codebird already has the api to update status. i will try as well.

Thank you very much for all of your solutions. you help me out.

Jarvis

________________________________
From: aironlio <notifications@github.com>
Sent: December 9, 2016 2:05 AM
To: jublonet/codebird-php
Cc: javayoung; Au

[2016-12-16 23:04] mrjutsu opened #191 "Hide url in final tweet"
Hi, I've been requested to find a way to hide the url from the final tweet and leave only the card. I have a couple examples.

[TechCrunch tweet with card but no url in tweet](https://twitter.com/TechCrunch/status/809889611988303872)

[TechCrunch tweet with card and url in tweet](https://twitter.com/TechCrunch/status/809888695310577664)

My question is, is there a way to achieve this using Codebir

[2016-12-19 15:33] JohnSinclair111 opened #192 "How to encode "'" and so on?"
I use this to post a new status:

$params = array(
 'status' => $message_to_share,
'media_ids' => $mediaID
);
$reply = $cb->statuses_update( $params );

Works fine. But: If $message_to_share has an "'" (apostrophe) in it, it don't work and shows an \' in the tweet. How to encode such characters, without remove them from message?

[2016-12-21 22:01] Imbatido commented on #189
Anyone any idea? Still searching for a solution.

[2017-01-09 22:04] dkoether opened #193 "authenticity_token_error when using Proxy"
Hello everyone,

whenever I try to order an accesstoken it works fine on my local machine.
Now I have a different system with a proxy and get this error:

[code]
Here is my code:
[code]
I can affirm that the consumerKey is correct.
Am I missing something?

[2017-01-10 11:37] chauhan-vaishali opened #194 "Streaming API 401 error"
I have been using the streaming api for couple of weeks but it has stopped working a week ago and returning 401 error code. I have figured out my IP is blocked because of multiple connections. Can you let me know best practices to use this api?

[2017-01-10 11:38] joshuaatkins commented on #194
Hi chauhan-vaishali,

Can you confirm your IP?

Thanks,

Josh

[2017-01-11 12:07] chauhan-vaishali commented on #194
Hi,

It's a shared hosting, don't have IP but this is the domain - fbdigital.hungama.org

Thanks,
VC

[2017-01-11 14:16] vangithub1992 commented on #194
Hi, i've got same issue. Tweets are posting but when I truing to start stream, I've got:
{#621
  +"httpstatus": "401"
  +"rate": null
}
And nothing can help me. I've set up new app, changed my credentials, used proxy.
Can this trouble be in that my virtual server has a 67 seconds delay?

[2017-01-12 07:12] chauhan-vaishali commented on #194
Hello vangithub1992,

This may help you understand the problem.
https://twittercommunity.com/t/streaming-api-connection-limiting/61006
https://twittercommunity.com/t/how-to-fix-a-suspended-user/63378

Thanks,
VC

[2017-01-20 15:25] PeteKT commented on #167
any word on 3.2?

[2017-01-22 12:57] jublo commented on #127
@victorllee Do you know any particular reasons for this?

[2017-01-22 12:57] #190 closed

[2017-01-22 12:58] #188 closed

[2017-01-22 13:00] jublo commented on #191
As told by Andy Piper:

https://twittercommunity.com/t/hide-url-in-final-tweet/79495/2

[2017-01-22 13:00] #191 closed

[2017-01-22 13:04] jublo commented on #189
Looking into. For reference:

https://dev.twitter.com/rest/reference/post/media/metadata/create.html

[2017-01-22 13:06] jublo commented on #192
If your message to share has an apostrophe, why would you not want to see it in the Tweet?
Can you post a sample of a failing call?

[2017-01-22 13:06] #194 closed

[2017-01-22 13:22] #176 closed

[2017-01-22 13:23] #179 closed

[2017-01-22 13:23] #168 closed

[2017-01-22 13:23] #170 closed

[2017-01-22 13:24] #171 closed

[2017-01-22 13:24] #172 closed

[2017-01-22 13:24] jublo commented on #167
@PeteKT Imminent.

[2017-01-22 13:24] #167 closed

[2017-01-22 13:24] jublo commented on #174
Closing due to no further replies.

[2017-01-22 13:24] #174 closed

[2017-01-22 13:25] jublo commented on #178
Closing due to no further reply from OP.

[2017-01-22 13:25] #178 closed

[2017-01-22 13:26] jublo commented on #183
May be related to media/metadata/create.

[2017-01-22 13:26] #183 closed

[2017-01-22 13:26] jublo commented on #184
Yes, please send some codes @ace411.

[2017-01-22 13:27] jublo commented on #185
@EduardJS You might want to define a constant using `define()` once you send the message. Later, only post it if the constant is not defined yet.

[2017-01-22 13:28] jublo commented on #187
Closing due to no further reply.

[2017-01-22 13:28] #187 closed

[2017-01-22 13:43] EduardJS commented on #185
Hello! This has been fixed, it was an anti-pattern issue on my end, pulling a "Mail" method multiple times.
There is no issue on Codebird's end. Using it successfully since 👍

[2017-01-22 13:43] #185 closed

[2017-01-22 13:44] jublo commented on #185
Great to hear! Please note that codebird 3.2 is around the corner.

[2017-01-22 13:46] EduardJS commented on #185
Awesome!

[2017-02-02 13:37] prabha123 commented on #168
How to get JSON format in the browser?

[2017-02-02 15:36] viktorgardart commented on #177
Do we know when 3.2 will be released? Or is there a workaround for this while waiting? 🙂

[2017-02-02 16:39] jublo commented on #177
Hi all, the first beta of 3.2 will come within days. I’ll make sure to notify you personally – can you send me your email address to support@jublo.net?

[2017-02-07 15:07] andypiper commented on #189
This feature is currently not available in the Twitter API, unfortunately we only provide access to the accessibility text metadata, not people tagging.

[2017-02-14 12:55] Behinder commented on #84
Or keep in mynd that desktop application as callback accepts only 'oob' value so the codebird example from documentation is wrong

[2017-02-14 12:57] jublo commented on #84
@Behinder Can you fix our doc?

[2017-02-14 18:57] Behinder commented on #84
Not yet, becaue I still don't know how to authorize my another account with my app, and that option set it not much  help, either.

[2017-02-14 20:24] Behinder opened #196 "How long does session last???? Never able to get proper Oauth access token."
I am struggling whole day with your library on my local server.
In this code:
[code]
the part inside IF is never run. using var_dump shows me every time that session variable   is set..wtf?
I am never able to be redirected to auth webpage. I need tokens for my different account than the one I created an app.
I tried running the page in different browsers, closing and opening windows but this is st

[2017-02-14 20:27] jublo commented on #196
Sorry to hear you ran into so much trouble with your Codebird tries. Are you planning to use this for a desktop or for a web app?

[2017-02-14 20:29] Behinder commented on #196
Well depend how you see "desktop" or "web".
Let's say it's "web" because I need script who will be run on server side and posting tweets from time to time

[2017-02-14 22:10] Behinder commented on #196
I put scripts on external server instead of localhost. the same behaviour.
Tomorrow I try different solutions, if there are any :/

[2017-02-14 22:38] jublo commented on #196
If it’s on the web, you need to provide a callback function to get the response token. The code will work, as it’s in use with many websites around.

If you just need a token to post to your own account, create an app at [apps.twitter.com] and see the resulting access token and secret there. Does that work for you?

[2017-02-22 01:35] GreenFootballs opened #198 "Version 3.2.0 in Composer"
Noticed today that the latest version (3.2.0-dev) doesn't seem to be available in Composer repositories - because our Composer-installed version wasn't calling the 'publisher' endpoint for embedding a user timeline, and failing. Any plans to get that updated?

[2017-02-27 06:05] Daltontastic opened #199 "Error Handling"
How do I check if $reply  = $cb->statuses_update($params); was a success or not?

[2017-02-27 06:15] Daltontastic commented on #199
Can I check if it's TRUE or FALSE?

[2017-02-28 02:19] Daltontastic commented on #199
I came up with a messy workaround :)

 $data   = (array) $reply;
    if (isset($data["created_at"])) {
        return true;
    } else {
        return false;
    }

[2017-02-28 19:58] jublo commented on #199
@Daltontastic If Twitter returns an error, you will have an error object in the reply. Maybe check for that? :)

https://dev.twitter.com/overview/api/response-codes

[2017-02-28 22:16] Daltontastic commented on #199
Thanks for the amazing library btw :) I've been using it for over a year.

[2017-02-28 22:16] #199 closed

[2017-03-07 09:55] RayFlow commented on #187
I was having the same problem, apache error log:

I was using the absolute path (eg: https://example.com/imagefolder/imagefile.png) at first.

**Solution:
use the relative path of the image file**
(eg: ../imagefolder/imagefile.png) // check if and how many folders you need to get out: ../../ or same: ./

[2017-03-09 20:55] jublo commented on #187
@RayFlow Can you explain this with a complete sample, please? This would help us (and others!) understand your solution better. :)

[2017-03-09 20:57] jublo commented on #199
@Daltontastic You’re welcome! 3.2.0 will be out soon, but we’re looking into the TON API authentication first.

[2017-03-09 20:58] jublo commented on #198
@GreenFootballs Development (`dev`) versions are not in composer. 3.2.0 will be out soon and available in Composer by then. :)

[2017-03-09 20:59] jublo commented on #184
Closing this due to no further reply received. If you see this and want to restart the conversation, feel free to comment here.

[2017-03-09 20:59] #184 closed

[2017-03-09 20:59] #189 closed

[2017-03-09 21:00] jublo commented on #192
Closing this due to no further reply received. If you see this and want to restart the conversation, feel free to comment here.

[2017-03-09 21:00] #192 closed

[2017-03-09 21:00] jublo commented on #196
Closing this due to no further reply received. If you see this and want to restart the conversation, feel free to comment here.

[2017-03-09 21:00] #196 closed

[2017-04-07 05:06] ItzBulkDev opened #200 "Search more than one term?"
Sorry if im a newb, but yea, basically wanna know how i can search more than one term, im using this code:

[code]

[2017-04-12 18:44] alpaltunel opened #201 "media_upload with https"
Hi,

I am trying to add image from my website and attach it to a tweet. if I try to download it with https://www...., it fails and error message:
Fatal error: Uncaught exception 'Codebird\CodebirdMediaException' with message 'Downloading a remote media file failed.' in ...... Codebird\Codebird->_fetchRemoteFile('https://www.onl...')......

instead I use:
 $reply = $cb->media_upload([

[2017-04-23 00:37] gintechsystems opened #202 "Error 32 - Could not authenticate you."
I have googled around and keep receiving this error but unsure why at this point. I tried even hard coding my tokens and secrets but still receive the error message "Could not authenticate you.". I am not saying the library is the issue, but was curious if others were receiving this issue?

I have made sure my app has write permissions, I am passing a valid access token & secret & that my app cons

[2017-04-23 01:34] gintechsystems commented on #202
Latest Update:

I have verified that the user is logged in using account_verifyCredentials(), I will post the rest of my code to see if it is that or a bug going on here.

[2017-05-08 18:29] Zaithe commented on #54
I'm getting this issue when just running
`require_once __DIR__ . '/codebird/codebird.php';
Codebird::setConsumerKey($CONSUMER_KEY, $CONSUMER_SECRET);
`

[2017-05-08 18:38] jublo commented on #54
Which PHP version are you using?

[2017-05-09 01:05] Zaithe commented on #54
7.0.0

[2017-05-30 12:42] joshuaatkins commented on #200
Hi @ItzBulkDev,

Have you tried using the OR/AND operands? such as

$params = array('q'=>'#steak OR #chicken','lang'=>'en');

[2017-06-05 06:14] ArthurBugan opened #203 "Didn´t understand how to upload an image!"
I'm trying to upload an image but i see that the example code sugests:
// these files to upload. You can also just upload 1 image!
$media_files = [
'bird1.jpg', 'bird2.jpg', 'bird3.jpg'
];

// will hold the uploaded IDs
$media_ids = [];

foreach ($media_files as $file) {
// upload all media files
$reply = $cb->media_upload([
'media' => $file
]);
// and collect their IDs
$media_ids[] = $reply->medi

[2017-06-06 07:21] prafullwizorbit opened #204 "Warning : stream_select(): unable to select [4]: Interrupted system call (max_fd=5)"
Streaming api gives error like  stream_select(): unable to select [4]: Interrupted system call (max_fd=5) at line 2460 in codebird.php file.

[2017-06-07 18:27] #198 closed

[2017-06-07 18:27] #200 closed

[2017-06-07 19:09] jublo commented on #201
Would you mind sending the full remote URL to us so we can reproduce the issue? If you don’t want to post it publicly, you can email it to support@jublo.net.

[2017-06-07 19:15] jublo commented on #203
The files mentioned in the README should be in your local working directory (find out with ```echo getcwd();```. If you would like to load images from different paths, use a relative or an absolute local path on your server. By the way, remote images will work as well, if they can be reached authorisation-free at a http or https URL.

Does this help you?

[2017-06-07 19:16] jublo commented on #204
Which version of codebird-php are you using?

[2017-06-08 06:11] ArthurBugan commented on #203
Thanks for the reply, but I think that i'm having some problem with my IP being blocked by twitter.
Here is my code:
`public function uploadImages($images){
        //Pega o nome de todos os arquivos para passar para o twitter
        //Get the name of all files and upload them
        foreach ($images as $image){
            $media_files[] = $image['arquivo'];
        }

        $media_ids = [];

[2017-06-08 07:30] prafullwizorbit commented on #204
Sir I am using php version 5.2 , so i need to update it to >= 7

[2017-06-08 08:59] jublo commented on #204
codebird-php supports PHP from version 5.5.0 or higher. An upgrade to 7 should not be necessary yet.

[2017-06-08 10:16] jublo commented on #203
Okay, which PHP and Windows version are you working on, and could you please send us a sample image of that for our testing? If you don't want to post it in public, send it to support@jublo.net.

[2017-06-08 10:29] ArthurBugan commented on #203
I'm running windows 7 64bits and my php version is 5.6.28
![anexo_61361e6f](https://user-images.githubusercontent.com/15329556/26924416-26665a0e-4c1c-11e7-962f-bccb73d87737.jpg)

[2017-06-12 18:52] ArthurBugan commented on #203
I manage to get it working using a URL, but if i try to use a url from my site it doesnt upload the image, but if I try with a google images url it works.
Here is my image: http://cartaobenefacil.com.br/anexos/anexo01d9f82d.jpg
Could you try with this?

[2017-06-12 20:32] jublo commented on #203
Is your server reachable by itself? That is, can PHP request URLs from its own server? Have you tried using a local path?

[2017-06-27 10:17] brettmeyer opened #205 "Upload media - base64 encoded image"
I want to post an image created using HTML Canvas to users timeline without first saving onto server. No problem getting the image string into the PHP script, but how would I go about converting it to use with media_upload method?

`$reply = $cb->media_upload(array('media' => $image));`

example of $image (truncated):
`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAK8CAYAAAANumxDAAAgAElEQVR4X

[2017-06-27 11:07] brettmeyer commented on #205
I've tried replacing 'media' with 'media_data' in the array. Still get the same error:

`string(22) "/1.1/media/upload.json" ["error"]=> string(24) "media type unrecognized."`

[2017-06-27 11:29] brettmeyer commented on #205
media_data accepts this:
`$image = str_replace('data:image/png;base64,', '', $image);`

[2017-06-27 11:29] #205 closed

[2017-07-03 04:29] hanoncs commented on #168
@prabha123 that is a terminal, not a browser.

[2017-07-11 14:47] kartik11 commented on #97
Seems all are working fine, how can i get total no.of Favorites, retweets and reply etc,.

[2017-07-13 22:40] jublo commented on #97
@kartik11 Please open a new issue instead of extending an old issue. :)

[2017-07-27 09:32] dublutz commented on #127
I fixed this by setting the timeout to 10s.
$code_bird->setConnectionTimeout(....

[2017-07-28 13:09] systemaddict opened #206 "user lookup with two or more screen_names will fail if one user doesn't exist"
Hi

If I try this:

user_lookup('screen_name=BengtHolst')

I will get a correct answer "No user matches for specified terms.".

However, if I try:

user_lookup('screen_name=BengtHolst,systemaddict')

The request will fail and return:

string(1417) "\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null, ...

[2017-07-30 21:54] audas opened #207 "POST direct_messages/events/new (message_create)"
Any ideas on how we can implement this ? We can attach media with our direct messages.

Can I alter your code ?

[2017-07-31 13:13] GeorgeD19 opened #208 "Twitter Feed Broke - Codebird: Response to preflight request doesn't pass access control check"
This is affecting my own sites, however it can also be seen on the demo site https://pavelk2.github.io/social-feed-example/.

Check the console log to find a huge amount of errors saying the following:
XMLHttpRequest cannot load https://api.jublo.net/codebird/oauth2/token. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the req

[2017-07-31 13:15] #208 closed

[2017-07-31 13:17] GeorgeD19 commented on #208
Sorry meant to post this on https://github.com/pavelk2/social-feed/

[2017-07-31 15:13] andypiper commented on #206
Unable to reproduce using `twurl`

[2017-08-01 11:45] systemaddict commented on #206
I think it's a codebird bug. After changing to https://github.com/abraham/twitteroauth the exact same query executes without problems.

[2017-08-19 10:09] jublo commented on #206
We’ll take a close look soon.
@systemaddict Which codebird-php and which PHP version are you using?

[2017-09-06 11:36] ugurkilci opened #209 "Request error for API call: Failed to connect to api.twitter.com port 443: Connection refused"
Please help me?

Fatal error: Uncaught exception 'Exception' with message 'Request error for API call: Failed to connect to api.twitter.com port 443: Connection refused' in /home/u00000000/public_html/h/src/codebird.php:2098 Stack trace: #0 /home/u00000000/public_html/h/src/codebird.php(2050): Codebird\Codebird->_callApiCurl('GET', 'search/tweets', 'search/tweets', Array, false, false) #1 /home/u0

[2017-09-06 12:52] mmubasher commented on #209
The error `Failed to connect to api.twitter.com port 443: Connection refused` usually means that the server can't connect to api.twitter.com. Possible reasons could be a firewall or your IP being blocked by Twitter.
Have you tried using a Proxy?
`$foo->setProxy('123.123.123.123', '1234', 'CURLPROXY_HTTP');`

[2017-09-21 03:02] cjl014 commented on #209
@ugurkilci
I'm getting the same issue. Did you get it to work?

[2017-09-21 12:57] prafullwizorbit commented on #209
I am getting same type of issue and it produced blank page when i use streaming api

[2017-09-21 13:07] prafullwizorbit opened #210 "how to break streaming api"
How to break streaming api when response time is more then 1 minute and also its display blank page when we load again.

[2017-09-21 21:52] jublo commented on #210
@prafullwizorbit You should be able to set a timeout for the streaming API using `setTimeout`. In addition, your callback will receive empty messages if no events occur, and you should make your function `return true;` in order to cancel the stream.

[2017-09-21 22:24] piryguiry opened #211 "Trying to get property of non object on valid stdClass"
i have the following code

[code]

when a i try to do somthing like

[code]
i got

and if i do somthing like
[code]
this is what happens instead

[2017-09-25 16:43] cjl014 commented on #209
Ok, apparently it has to do with Twitter randomly blacklisting IP addresses/networks now (like mmubasher said). Whatever your webhost is may be blacklisted and Twitter is making it difficult to cooperate with them.
If it is not this or any of the suggestions above, make sure you are connecting to their api's with TLS  https://dev.twitter.com/overview/api/tls

[2017-09-28 19:25] GreenFootballs opened #212 "Codebird throwing warnings: "Creating default object from empty value""
My PHP error log is suddenly filling up with tons of warnings thrown by Codebird:

PHP Warning:  Creating default object from empty value in /PATH/codebird.php on line 2294

This just started a couple of days ago, after working fine for a long, long time. The lines in question are in the function "_appendHttpStatusAndRate" and it seems to be throwing the warning about the httpstatus property:

[co

[2017-09-30 12:23] jublo commented on #212
@GreenFootballs Sounds like `$reply` is not set when you enter the function?

[2017-09-30 20:20] GreenFootballs commented on #212
Found the problem by inserting some debugging code. Twitter apparently changed the way they're handling the statuses_show_ID call. I was passing in an ID extracted from a Twitter URL, without stripping off any query string that was appended to it. Previously, this worked; maybe Twitter was using intval() or some other way to get just the integer part of the ID and it ignored the query string. But

[2017-09-30 21:35] #212 closed

[2017-10-05 12:32] AndiHamolli commented on #209
@cjl014
I am using 000webhost as hosting provider
and I am getting this error

how do i fix this issue now

[2017-10-05 12:43] AndiHamolli opened #213 "Fatal error: Uncaught Exception: Request error for API call: in .../codebird.php:1942"
<br />
<b>Fatal error</b>:  Uncaught Exception: Request error for API call:  in /storage/ssd3/649/1242649/public_html/mangekyotweet/codebird.php:1942
Stack trace:
#0 /storage/ssd3/649/1242649/public_html/mangekyotweet/codebird.php(1901): Codebird\Codebird-&gt;_callApiCurl('POST', 'statuses/update', 'statuses/update', 'status=Uchiha+C...', false, false)
#1 /storage/ssd3/649/1242649/public_html/mang

[2017-10-05 12:58] AndiHamolli commented on #213
This is my code

<?php

    function tweet($message){

    require_once ('codebird.php');

    \Codebird\Codebird::setConsumerKey('3wNp1aVhNzvrQJkKjIYe8JnfR', 'U3EwIn7Mqm8m0PFVYgEOwEsnfOKjTQLJ0gOtKuBekxYNvFMTmx'); // static, see README

    $cb = \Codebird\Codebird::getInstance();

    $cb->setToken('835625795322277888-v0e5fyJ5UWOppfAW4vgY7SnqFi9N92Q', 'sFpwvBGBNUI5RquvkBm5wPsPA6fR0uyZMSN14ghAw3M6

[2017-10-05 16:26] cjl014 commented on #209
@AndiHamolli
I'm assuming you're using shared web hosting and/or Free, meaning most likely others are on the same IP address as you. Twitter is blocking 000webhost shared hosting IPs because I use hosting24 which is under HOSTINGER which runs both 000webhost and hosting24, and their support team has informed me of this .
1). So what might work is, you'll have to request for a 'dedicated' IP addres

[2017-10-05 21:50] jublo commented on #213
Please investigate whether your server can talk to the outside world (TCP 443) and whether the Twitter API is available.

[2017-10-06 07:21] joshuaatkins commented on #209
I can understand you guys going down the route of shared hosting being the cause. Although, unless there are other users of the shared hosting service 'abusing' twitter - I doubt it.

Our server (using a dedicated IP) has made 30 million requests to api.twitter.com in the past 5 days (for codebird-js) and we have never had blacklisting issues.

One thing I would suggest, if you are using the servi

[2017-10-06 07:22] joshuaatkins commented on #209
The more likely case, is that your provider's firewall eventually blocks destination hosts over x number of concurrent connections.

[2017-10-06 14:07] Lassitek commented on #209
@joshuaatkins
You're using a personal server? Or what web host are you using?

Here is one of Hosting24's System Admin department responses to my email:
"We are in contact with Twitter, but we do not have good news, it seems part of our network is blacklisted and they are uncooperative in resolving this issue :( We will keep trying to get our IPs working with Twitter, but I cannot promise anything

[2017-10-07 00:38] redbeanbuns opened #214 "Authentication when run by cron"
When I hit my script in a browser, everything goes fine. When cron runs the script, it builds the tweet, and carries out the database stuff, but the tweet never appears. My logs show error code 32 - "could not authenticate you". Here's the code, sorry for the long code entry, I thought I better post the whole thing since I have no idea what could be causing the problem...

`<?php
$test = false;
$g

[2017-10-09 06:43] redbeanbuns commented on #214
I've also tried:

`require_once(__DIR__ .'/codebird/codebird.php');`

[2017-10-10 13:04] gerkelly opened #215 "search_tweets with more than one search term"
I'm using the search_tweets method to find tweets with a particular search term.

[code]
This works perfectly. However, I cannot figure out how to use this method to search for more than one search term. eg. I want to find tweets containing 'apache' and 'php'.

Thanks for any help!

[2017-10-12 10:21] jublo commented on #214
Does the CLI PHP load the same required extensions as the web server one?

[2017-10-12 10:26] jublo commented on #215
https://twitter.com/search?q=apache%20php&src=typd

Does this work?

[code]

[2017-11-03 08:25] prafullwizorbit opened #216 "IN search_metadata result parameter next_results is missing all time"
Hi
TwitterAPIExchange.php working perfectly but in result of search_metadata array i am not getting next_results so i cannot make my query in recursive fashion.please suggest some help.

[2017-11-03 17:55] mbillz opened #217 "Broken Authentication Step"
Since last weekend, there has been an error in the authentication step for some of our users stating: `Whoa there! The request token for this page is invalid. It may have already been used, or expired because it is too old. Please go back to the site or application that sent you here and try again; it was probably just a mistake`.

Once the user logs out of their Twitter account and logs back in,

[2017-11-10 02:18] jublo commented on #217
@mbillz Have you checked your server’s clock for daylight saving time changes?

[2017-11-10 02:19] jublo commented on #216
@prafullwizorbit Would you mind posting the relevant extracts of `TwitterAPIExchange.php`?

*/!\* Do not post OAuth tokens.

[2017-11-12 21:56] steven-cotterill opened #218 "Problem posting a tweet to 2 pages/accounts"
Hi, i've got the library working perfect posting to individual accounts. Is it possible to post to two seperate pages? There are different consumer keys and tokens. Any help here would be greatly appreciated.

`                \Codebird\Codebird::setConsumerKey ($public_consumer_key, $public_consumer_secret);
                $cb = \Codebird\Codebird::getInstance();
                $cb->setToken ($

[2017-11-30 14:53] steven-cotterill commented on #218
Also, there is a problem when passing single or double quotes through to $status. They appear as encoded characters on the actual tweet.

I've tried many functions to fix this; htmlspecialchars, htmlentities, addslashes etc. Any help here would be great.

[2017-11-30 22:16] tscheez commented on #207
I'd also like to know how to do this with CodeBird.  Is this being developed?

[2017-12-06 01:02] jublo commented on #207
@tscheez We’ll add this soon.

[2017-12-06 01:03] jublo commented on #218
@steven-cotterill Can you send me a sample code with status text containing a quote or double quote, along with the generated Tweet URL?

[2017-12-06 01:04] jublo commented on #218
Also, to use Codebird concurrently on 2 accounts, you would have to set the consumer keys for every access. Will that work?

[2017-12-06 09:15] steven-cotterill commented on #218
Hi, thanks for getting back. Code is unchanged from the original post.

You can see a number of tests on my test Twitter account (https://twitter.com/steventraffick). The text being sent is usually just an image (which is fine), and text of "Test" 'twitter' (to test the quotations).

Code for posting to both accounts can be seen below, but won't post to the second account.

`           if ($page =

[2017-12-28 00:07] stevie-c91 commented on #218
Hi there, any update with this? The main issue for me is the quotations being show as &#8217 etc. Thank you.

[2018-01-05 10:35] Gaurav0100 opened #219 "No 'Access-Control-Allow-Origin' header is present on requested resource"
Failed to load https://api.jublo.net/codebird/oauth2/token: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'your website url' is therefore not allowed access. The response had HTTP status code 403.

Getting following error while calling the twitter posts was working fine some days back, any idea

[2018-01-05 13:00] rodrigofirpo opened #221 "v2 Update ?"
Hi team!

Just to know if you are planning to upgrade the code for the v2 of twitter-ads-api (as the v1 is going to be deprecated on 2017-01-10).

Thanks!

[2018-01-05 14:33] jublo commented on #221
Yes, we will upgrade that. Thanks for reminding us!

[2018-01-07 23:22] chrisjonesio opened #222 "Media alt text"
Greetings,

I've perused some of the other issues relating to adding metadata to media uploads via Codebird but haven't seen a mention of being able to add alternate text to media for accessibility purposes. Looking through the POST API endpoints in the code it looks like `media/metadata/create` isn't one of them.

Could this be a feature in a future release? It's not a burning issue, I just think

[2018-01-08 19:25] jublo commented on #222
Hi Chris,
it could – and will! We’re in the process of updating our endpoint list, so please stay tuned! :)

[2018-01-22 18:14] unclespode opened #223 "JSON Decode Problem"
Occasionally, responses from Twitter are being mangled, and you will get no results even though it's fetched some.

Tracing this back has found it to be in the **_json_decode** function.

[code]

Not all PHP installs have support for JSON_BIGINT_AS_STRING, so this is checking and if not - running it through a regex.

The **bug is in this regex** and doesn't always manifest itself, but has been hap

[2018-01-29 16:44] Optisys67 opened #224 "POST direct_messages/events/new for Quick replies"
Hi,
at first thanks a lot for your very usefull code !
Do you think, it's possible to integrate the method POST direct_messages/events/new in your code?
I need to send direct messages with Quick replies...

Best regards and thank you for helping!
Eric

[2018-01-29 22:48] skynet opened #225 "How to Reply to another Tweet"
Maybe trivial but can't quickly figure it out. Pls help!

[2018-02-05 18:23] TheMasterRoot opened #226 "Twitter problem"
i started to recive this error from yesterday

[code]

some one knows how to fix it?

[2018-02-07 11:27] ZYSHAQ commented on #224
Same problem here.

[2018-02-07 11:28] ZYSHAQ commented on #207
Same problem here

[2018-02-13 09:49] RahulRawat1994 commented on #214
I am facing the same problem, during media_upload API call, it always sends "could not authenticate" errors.

[2018-03-13 09:50] elshan commented on #84
[code]
Does this fix your issue? **NO**

[2018-03-13 09:51] elshan opened #227 "Undefined property: stdClass::$oauth_token"
[code]

I used above code and getting the error ` "Undefined property: stdClass::$oauth_token"`

Any suggestion ? Some time this not happen :(

[2018-04-07 06:07] PerezLopezRoberto opened #229 "Fatal error: Call to a member function oauth_requestToken() on null in C:\xampp\htdocs\logintwitter\app\TwitterAuth.php on line 21"
I am working on twitter sign-up on my web application and I have an issue that I am not quite sure what the problem is.

TwitterAuth.php

`<?php

class TwitterAuth
{
	protected $cliente;
	protected $clienteCallback = "http://127.0.0.1/logintwitter/callback.php";

	public function _construct(\Codebird\Codebird $cliente){
		$this->cliente = $cliente;
	}

	public function getAuthUrl(){
		$this->reque

[2018-05-03 20:47] FSElias commented on #224
+1

[2018-05-08 11:20] chinna-magapu opened #230 "codebird-cors-proxy not working with nginx server"
Hi, I am trying to implement the codebird-cors-proxy in nginx server. But it was not working
I ahve added
cb.setProxy('https://twitterproxy.sample.xyz');

 and the request token api
https://twitterproxy.sample.xyz/oauth/request_token is getting 403 ( access is forbidden) and then I have updated the nginx config with the below code

`# nginx configuration

location / {
rewrite ^/$ http://www.jublo.

[2018-05-08 12:38] joshuaatkins commented on #230
hi @chinna-magapu

This is our configuration for nginx, if it helps;

`location /codebird/ {
        try_files $uri $uri/ /codebird/codebird-cors-proxy.php$is_args$args;
}`

[2018-05-09 07:55] chinna-magapu commented on #230
Hi @joshuaatkins , Thanks for your response.

I have updated the nginx confix with your rewrite rules. still, I am getting the same 405 error. I am using this with angular it still fails in the options request with 405 status.

[2018-05-09 21:24] GreenFootballs opened #231 "New Direct Message endpoints"
I've been using Codebird for quite a while - thanks for sharing it with the world, it's very useful. Are you planning to support the new Direct Message endpoints? The current ones are being discontinued on June 19, 2018.

[Here's the page on migrating to the new endpoints.](https://developer.twitter.com/en/docs/direct-messages/sending-and-receiving/guides/direct-message-migration)

[2018-05-09 21:25] jublo commented on #231
@GreenFootballs Thanks for your question! In fact that’s on our roadmap – we are looking into adding support with the entire current Twitter API footprint. Please keep subscribed to this ticket to get an update once we have something to try out (before June 19!)…

[2018-05-09 23:42] GreenFootballs commented on #231
Thanks, good to know you're on it. I'll stay tuned.

[2018-05-15 22:02] Lepfsd commented on #229
hello, u solved that ? my Codebird::getInstance(); return null

[2018-05-19 19:25] gabrielschuck opened #232 "I can not tweet"
I can not post to twitter with codebird. I get the status HTTP 401. What do I do?

[2018-05-24 19:08] okrauth opened #233 "I cannot send a geolocation search."
I am testing the library. Is there a way to send a  geo location search request using only the Application-only auth?
How do I submit the lat lon param?

thanks!

[2018-06-12 12:44] gentjana opened #234 "POST direct_messages/events/new (message_create)"
i'm using the below code for reply to a direct message, but i receive error: 400. What i'm doing wrong? Please help is important to do the changes in twitter api before 19 June. Thanks.

ini_set('display_errors', 1);
require_once('TwitterAPIExchange.php');

$settings = array(
            'oauth_access_token' => '*******',
            'oauth_access_token_secret' => '*******',
            'consumer_

[2018-06-12 13:22] #234 closed

[2018-06-13 12:42] sololance commented on #231
@jublo any update on this? It's already 13 June. Thank you.

[2018-06-24 18:58] emilorol commented on #227
Register you app URL as a callback URL on your app.

```'oauth_callback' => 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']```

**Note:** just in case you might want to use HTTPS on the URL to save a redirect.

[2018-06-24 19:00] emilorol commented on #227
Here are the steps:

https://github.com/jublonet/codebird-php/issues/49

[2018-07-15 14:55] FSElias commented on #231
Any news guys?

[2018-07-18 02:22] lordmatt opened #236 "Fatal error using example authorization code on a private network"
I am attempting to use your example code to authorise a user (other than the one carrying the app credentials) and I have run into an error I cnnot overcome.

[code]

[2018-07-18 02:29] lordmatt commented on #236
As far as I can tell `oauth_requestToken` sets the tokens to `null` and to `null` they stay.

[2018-07-18 02:31] lordmatt commented on #232
I'm no expert but 401 is an error meaning "unauthorized". If I were to make an educated guess, you are not logged in or the token has expired.

[2018-07-18 02:43] lordmatt commented on #236
Tested with dev and master branches.

[2018-07-22 10:01] kylex commented on #236
@lordmatt I noticed this started happening recently to my code as well. It appears that Twitter has tightened up their security and now the authorized callback URLs must match perfectly:
https://apps.twitter.com/app/YOUR-APP-ID/settings

In my case, I wasn't using 'www' as the subdomain even the the TLD was the same. Seems to be a relatively new issue. Hope that helps you.

[2018-08-02 12:52] jdurga opened #237 "[code] => 99 [message] => Unable to verify your credentials [label] => authenticity_token_error"
I followed the steps as in README file, but I am receiving error apply only authentication.
[code] => 99 [message] => Unable to verify your credentials [label] => authenticity_token_error

How to resolve this error?

My code:

[code]

[2018-08-04 11:42] sololance commented on #231
@jublo it has been almost 3 months at least, we can understand that you can be busy, but I kindly ask you to let us know are you going to update this library or not?

Thank you.

[2018-08-05 16:24] vabiro opened #238 "Suddenly receiving 500 errors when retrieving profile"
Hi,
I am using Codebird to retrieve twitter profile information, like ID and profile pictures. It has been working for the past few weeks, but I am suddenly getting 500 errors. Is there a way to determine the cause of the 500 error?
Here is the function that I am using:
`     function get_twitter_user_profile($tw_screen_name){
     \Codebird\Codebird::setConsumerKey('YOURKEY', 'YOURSECRET'); // st

[2018-08-15 01:35] GreenFootballs commented on #231
er...

https://twitter.com/TwitterAPI/status/1029068648000811008

[2018-08-15 08:03] sololance commented on #231
Well, I didn't have much time to dig in this library, however temporary solution for this problem is to use library that support sending as json such as https://github.com/abraham/twitteroauth

[2018-08-15 19:03] GreenFootballs commented on #231
Welp - the deadline is tomorrow for the elimination of the existing DM endpoints, so I guess there's no other option but twitteroauth now.

[2018-08-15 21:33] jublo commented on #238
@vabiro Can you still reproduce this?

[2018-08-15 21:35] jublo commented on #237
Apparently your tokens are incorrect – have you cross-checked with your listing at https://developer.twitter.com/en/apps ?

[2018-08-15 21:51] jublo commented on #233
Hi @okrauth,

As outlined in Twitter’s [Standard search API docs](https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html), you may send your desired latitude and longitude coordinates as a comma-separated value in the `geocode` parameter.

Take a look at this sample code:

[code]

The `53.82...` value is the latitude, `-1.62...` stands for the longitude, and the t

[2018-08-15 21:52] jublo commented on #232
@gabrielschuck You can find more information about the HTTP status codes returned by the Twitter API here: https://developer.twitter.com/en/docs/basics/response-codes.

[2018-08-15 21:52] #232 closed

[2018-08-15 23:18] jublo commented on #224
See #231 please.

[2018-08-15 23:18] #224 closed

[2018-08-15 23:26] jublo commented on #222
@chrisjonesio Please help test this API method in the Codebird beta that will get pushed later today.

[2018-08-15 23:39] jublo commented on #231
@GreenFootballs See 9d14498 for now – beta release to follow.

[2018-08-16 00:10] mynetx commented on #221
@rodrigofirpo The Ads API methods will be updated in Codebird 4.0.0-beta.2.

[2018-08-16 00:13] mynetx commented on #231
https://github.com/jublonet/codebird-php/releases/tag/4.0.0-beta.1

[2018-08-16 00:14] mynetx commented on #231
@GreenFootballs @sololance @FSElias Feedback on this pre-release version will be much appreciated. Thanks for your patience!

[2018-08-16 01:25] promeo commented on #222
The upwork contract is not working in case you want me to complete this.
Thanks

On Thu, Aug 16, 2018 at 1:26 AM, Jublo <notifications@github.com> wrote:

[2018-08-16 01:28] mynetx commented on #222
You’re still available to work on the unit and functional tests for Codebird?
Send me an email to support@jublo.net<mailto:support@jublo.net>.

J.M.

(+44) 843 506 8886
www.jublo.net<http://www.jublo.net>

[cid:8B43C7C3-9C76-4275-A043-6C098B882901]

Jublo Limited, Number One, Great Exhibition Way, Kirkstall Forge, Leeds LS5 3BF.
Registered in England and Wales, Company No. 10739728, VAT No. GB 183

[2018-08-16 09:12] andrewspode commented on #223
@jublo unfortunately, I am otherwise disposed. My current code base is using my "fix" above and I've yet to encounter a problem.

[2018-08-16 12:14] ghost commented on #222
@jublo I'll take a look at the Codebird beta later this evening and give it a shot. Looking forward to it!

[2018-08-16 18:28] sololance commented on #223
@jublo @unclespode this happened due to licensing issue with json, more here https://bugs.php.net/bug.php?id=63520 .

Only possible solution without affecting code is to upgrade to php 7 because jsond merged in
 that version, see here https://wiki.php.net/rfc/jsond

[2018-08-16 23:53] ghost commented on #222
@jublo I have whipped up a quick test, and all seems to be working! I could post a new tweet with an image that included alternate text. Alt text appeared in both the Firefox developer tools accessibility panel and VoiceOver on my Mac read the alt text on the Twitter web site when the image was selected.

This is great!

[2018-08-17 12:26] mynetx commented on #222
@chrisjonesio Good to know that it works as expected. Do you care to test also the other new endpoints – see #231?

[2018-08-17 12:27] #222 closed

[2018-08-17 19:35] FSElias commented on #231
Hello,
I have tested the directMessages_events_new method, with text only, text/media, media only,
so far no issues

[2018-08-21 16:21] Born2DoubleUp opened #239 "Retrieve total number of Views, Replies, Favorites, and Retweets"
Hello, I have a Tweet ID and I'm trying to use CodeBird to retrieve the total amounts of views, replies, favorites, and retweets of that Tweet ID. I tried to use the below code to retrieve how many retweets a tweet has with no luck.

$reply = $cb->statuses_retweets(array('id' => $TweetId));

But that didn't give me back any results. I know the $TweetId is correct, just not sure what I'm suppose to

[2018-08-21 20:40] martinlugton commented on #236
This was my experience too. kylex's fix worked for me - going to twitter.com and updating the callback URL so that it matched perfectly. Thanks @kylex !

[2018-08-22 10:06] #236 closed

[2018-08-22 21:49] nemanjam opened #240 "collections_entries_curate does not remove tweets from collection"
Adding tweets works but removing wont. I get:

[code]

I send params like this:

[code]

[2018-08-23 12:19] mynetx commented on #240
@nemanjam Can you please try with parameters like this?

[code]

[2018-08-23 15:19] nemanjam commented on #240
Yes, that's it. `collections/entries` somehow returns tweets ids instead numerical keys.

[2018-08-23 15:21] #240 closed, assigned to mynetx

[2018-08-23 15:22] mynetx commented on #240
@nemanjam Glad to see it works for you now! Thanks for asking. :)

[2018-09-15 12:37] mynetx commented on #201
Closing this issue due to not having seen any further comments. Feel free to (re-) open a new one if you still encounter this problem.

[2018-09-15 12:37] #201 closed

[2018-09-15 12:37] mynetx commented on #213
Closing this issue due to not having seen any further comments. Feel free to (re-) open a new one if you still encounter this problem.

[2018-09-15 12:37] #213 closed

[2018-09-15 12:39] mynetx commented on #209
@cjl014 @ugurkilci I fear there is not much that we can do if your server is blacklisted and blocked from accessing the Twitter API.

[2018-09-15 12:39] #209 closed

[2018-09-15 12:40] mynetx commented on #211
@piryguiry What does this code show instead?

[code]

Also, which template engine is this?

[2018-09-15 12:42] mynetx commented on #214
@redbeanbuns @RahulRawat1994 You can help us find the problem by posting a self-contained code that will read the image from the same folder and send the media/upload call, and pasting the entire code here (masking your tokens).

[2018-09-15 12:42] mynetx commented on #215
@gerkelly Please look into the code above?

[2018-09-15 12:43] mynetx commented on #216
@prafullwizorbit Please post your code so we can find the error?

[2018-09-15 12:47] mynetx commented on #223
@unclespode Since Codebird 4.0.0 will require PHP 7.1.0, we’re safe to implement your quick fix for now and watch this.

[2018-09-15 12:52] mynetx commented on #225
@skynet Have you tried something along this?

[code]

This should send a Tweet in reply to Larry’s Tweet:
https://twitter.com/LarryMcTweet/status/482239971399835648

[2018-09-15 12:53] mynetx commented on #226
@TheMasterRoot Which URL are you trying to download the picture from?

[2018-09-15 12:54] mynetx commented on #227
@elshan Did you try @emilorol’s steps?

[2018-09-15 12:56] mynetx commented on #230
@joshuaatkins Something for your debugging.

[2018-09-15 12:56] mynetx commented on #231
@FSElias Sounds good! Thanks for helping to test this.

[2018-09-15 12:56] #231 closed

[2018-09-15 12:57] mynetx commented on #233
@okrauth Did you have time to try the code above?

[2018-09-15 12:57] mynetx commented on #237
@jdurga Any ideas about this? :)

[2018-09-15 12:58] mynetx commented on #239
@Born2DoubleUp Can you tell me a sample Tweet ID?

[2018-09-15 13:41] afariasfermin commented on #211
@mynetx I can't understand what was happening, so i just ended used the twitteroauth library instead. the template engine was blade.

[2018-09-24 06:39] prafullwizorbit commented on #216
Its working perfectly
Thanks

[2018-09-24 06:39] #216 closed

[2018-09-25 06:38] Majid-ali37 opened #241 "Do not get the url of the third part website , when a post is shared from it."
I shared a post from a third party blog website to my twitter account and it didn't returned the link to that actual post on its website, in the response. I needed it to pull meta from that website's page from which the post has been shared, just like twitter do.

[2018-09-25 06:40] Majid-ali37 commented on #241
Please resolve my issue ASAP

[2018-09-25 06:41] Majid-ali37 opened #242 "I did not get the url of the website from which I shared a post to m twitter handle."
I shared a post from a third party blog website to my twitter account and it didn't returned the link to that actual post on its website, in the response. I needed it to pull meta from that website's page from which the post has been shared, just like twitter do.

[2018-09-25 10:56] mynetx commented on #241
@Majid-ali37 Thanks for your question – please share the relevant part of your code and we may take a closer look.

[2018-09-25 10:57] mynetx commented on #242
Duplicate of #241.

[2018-09-25 10:57] #242 closed, assigned to nobody

[2018-09-25 11:21] Majid-ali37 commented on #241
Ok I'm using this code to retrieve my tweets, everything is working perfect except for the third party url from which I shared a post.
For example , I shared a post from quora.com website to my twitter handle, it was shared to my twitter tweets , but the url ( I need to extract the meta of website from which the blog was shared i.e quora as twitter do ) of that website (quora.com) was found no whe

[2018-09-25 13:52] mynetx commented on #241
@joshuaatkins I would like you to take a look at this one, please.

[2018-09-25 18:58] mynetx commented on #221
We need to support Ads API 4.0 and remove anything for v0, 1 and 2.

[2018-09-25 18:58] mynetx commented on #221
@joshuaatkins Could you take a look at this, including its method detection?
https://twittercommunity.com/t/ads-api-version-4/111829

[2018-09-30 12:59] joshuaatkins commented on #230
@chinna-magapu did you manage to solve this? I am happy to pick back up if not.

[2018-10-05 10:31] oguz463 opened #243 "Duplicates status updates when Updates with media"
`$media = $codebird->media_upload([
    'media' => 'https://allpowermoves.com/wp-content/uploads/deals/eerogen2-2.jpg'
]);
$media_id = $media->media_id_string;

$codebird->statuses_update([
  'status' => 'Give a shot https://allpowermoves.com/deals/',
  'media_ids' => $media_id
]);`

Yes it works. But posts 2 tweets. Am I doing something wrong?

[2018-10-05 10:51] #243 closed, assigned to nobody

[2018-10-05 10:52] oguz463 commented on #243
Tried at server it doesn't have any issue probably local problem

[2018-10-08 07:33] #204 closed

[2018-10-16 08:34] GhostCrawl3r opened #244 "Webhook Register Issue"
Hi,

How to implement Twitter Account Activity API calls in Codebird PHP?

https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/api-reference/aaa-premium

We are trying to Register a Webhook.

![image](https://user-images.githubusercontent.com/36843980/47003193-5646cb80-d14c-11e8-9185-bdfcfd470920.png)

For above call we got response as  below:

{#784 ▼
  +"errors":

[2018-10-28 14:33] mynetx commented on #239
@Born2DoubleUp Are you still there?

[2018-10-28 14:34] mynetx commented on #229
@Lepfsd Can you tell me more details about your `null` return value?

[2018-10-28 14:35] mynetx commented on #227
Closing since there were no further replies.

[2018-10-28 14:35] #227 closed

[2018-10-28 14:35] mynetx commented on #226
Closing since there were no further replies.

[2018-10-28 14:35] #226 closed

[2018-10-28 14:35] #225 closed

[2018-10-28 14:36] mynetx commented on #238
Closing since there were no further replies.

[2018-10-28 14:36] #238 closed

[2018-10-28 14:36] mynetx commented on #237
Closing since there were no further replies.

[2018-10-28 14:36] #237 closed

[2018-10-28 14:37] mynetx commented on #233
Closing since there were no further replies.

[2018-10-28 14:37] #233 closed

[2018-10-28 14:37] mynetx commented on #215
Closing since there were no further replies.

[2018-10-28 14:37] #215 closed

[2018-10-28 14:37] #211 closed

[2018-10-28 14:38] #223 closed

[2018-10-28 14:42] mynetx commented on #218
@stevie-c91 Can you give an example string for `$status` that results in wrong entities being Tweeted?

[2018-10-28 14:44] stevie-c91 commented on #218
Hi, I got this sorted. The user was copying strangely formatted text straight from a PDF. Thank you.

[2018-10-28 15:02] mynetx commented on #218
@stevie-c91 So the entities were in the PDF data already?

[2018-10-28 15:07] stevie-c91 commented on #218
It's been a while now but IIRC the quotation marks were formatted strangely in the PDFs. When copied over, Twitter didn't have the font required to display them, so I don't think it's an issue with the library. Running a search and replace on the copied text, and changing them to proper quotation marks fixed the problem.

[2018-10-29 12:48] GhostCrawl3r commented on #244
Hi Mynetx,

Could you please update on this?

Regards,
Nick

[2018-10-30 09:09] GhostCrawl3r commented on #244
Hi Mynetx,

Could you please update on this?

Regards,
Nick

[2018-10-30 12:32] GhostCrawl3r commented on #244
Hi Mynetx,

Could you please update on this?

Regards,
Nick

[2018-10-31 13:58] GhostCrawl3r commented on #244
Hi Mynetx,

Could you please update on this?

Regards,
Nick

[2018-11-13 07:24] GhostCrawl3r commented on #244
Hi Mynetx,

Could you please update on this? Is this under development so we can check for some different solution?

Regards,
Nick

[2018-11-15 17:28] mynetx commented on #244
@iceblitz0077 I will have a solution for calling these methods over the weekend. Please stay tuned! :)

[2018-11-18 16:42] mynetx commented on #244
@iceblitz0077 Please re-test with the revision f2265fc.

[2018-12-16 00:57] aaden001 commented on #139
This is great. But how  would I get the email address of the user? I don't see it in the JSON object.

[2018-12-16 01:07] aaden001 opened #245 "Still unable to Get User Email Address"
I have a code similar to this issues https://github.com/jublo/codebird-php/issues/139, I get all other data except the email address of the user. How can I go about it?

[2018-12-16 22:46] mynetx commented on #245
@aaden001 Please take a look here:

https://developer.twitter.com/en/docs/accounts-and-users/manage-account-settings/api-reference/get-account-verify_credentials.html

[2018-12-16 22:50] aaden001 commented on #245
I did that already. I see it with the request permission  token but I don't get it with the final response.

[2018-12-21 04:53] aaden001 commented on #245
thanks this solved my issue https://stackoverflow.com/questions/53797163/how-to-retrieve-twitter-user-email-using-codebird-php

[2018-12-21 11:07] #245 closed, assigned to nobody

[2019-01-04 22:10] hasan5151 opened #246 "Upload Image Error"
Fatal error: Uncaught Codebird\CodebirdMediaException: Downloading a remote media file failed. in C:\xampp\htdocs\chart\codebird.php:1944 Stack trace: #0 C:\xampp\htdocs\chart\codebird.php(1886): Codebird\Codebird->_fetchRemoteFile('https://firebas...') #1 C:\xampp\htdocs\chart\codebird.php(1826): Codebird\Codebird->_buildBinaryBody('https://firebas...') #2 C:\xampp\htdocs\chart\codebird.php(1800)

[2019-01-08 11:40] #246 closed, assigned to mynetx

[2019-01-08 11:42] mynetx commented on #246
@hasan5151 What had been the problem with the image URL you wanted to download?

[2019-01-14 21:35] #193 closed

[2019-01-21 10:01] bobbykjack commented on #241
FWIW, I'm using 3.1.0 and I *am* getting the 'source' attribute of a tweet as expected, when using the statuses_userTimeline() method.

[2019-01-25 07:45] iKomettech commented on #219
Request URL: https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?id=xxxxx&count=4&tweet_mode=extended
Request Method: GET
Status Code: 404
Remote Address: 104.27.114.64:443
Referrer Policy: no-referrer-when-downgrade

[2019-01-25 11:19] bobbykjack commented on #206
FYI, works fine for me (user**s**_lookup, though) using 3.1.0 and php 7.1.19. I just get a single User item back in the response.

[2019-01-25 14:54] mynetx commented on #206
@systemaddict As @bobbykjack points out, please double check that you are calling the correct API method including the plural S.

[2019-01-25 14:54] #206 closed

[2019-02-18 13:31] toxicity1985 opened #247 "How to access this url ?"
Hello,

I try to access without success to this kind of page: https://api.twitter.com/1.1/videos/tweet/config/TWEET_ID.json.

Do you know how i can succeed ?

Thanks.

[2019-04-03 08:49] malmalakh opened #248 "How to Authenticate Users with Codebird?"
Thank you for the great code, and I was searching for a php example on how to authenticate users with my application using codebird ... could you please offer a php example on how to do that ?

Really appreciated

[2019-04-25 08:50] GhostCrawl3r commented on #244
Hey,

We have followed your instructions with the new revision & updated the package, we are still facing the same issues, can you help us?

[2019-04-26 15:46] nuryagdym opened #249 "composer install throwing error"
Hello,
I tried to run composer install using given composer.json, it is throwing
`[RuntimeException]
Could not scan for classes  inside "src/" which does not appear to be a file nor a folder`

am I doing something wrong?

[2019-06-30 13:39] MrSleeps opened #250 "Posts twice when posting with Media"
So, I am trying a basic post image to Twitter via my company dashboard. I can get it to post, that isn't an issue. But it makes 2 posts of the same thing.. Text only posts don't.

Any ideas as to why this is happening? Code below

[code]

[2019-06-30 15:45] MrSleeps commented on #250
I have narrowed this down to my NGINX and php-fpm set up, for those that have the same issue. Not worked out what yet.. Tried it with Apache and the php module and it didn't double post.

[2019-07-01 12:55] MrSleeps commented on #250
Turns out it was nothing to do with my code, but a stupid browser extension. Simplest things..

[2019-07-01 12:55] #250 closed, assigned to nobody

[2019-07-09 21:05] mistafi opened #251 "Codebird not working at all"
Does anyone have any information on this outage? It's been going on for several weeks now.

Thank you!

[2019-08-10 19:51] dreinstein10 opened #252 "MEDIA/UPLOAD-STATUS "media parameter is missing.""
Hi, I've been trying to post a video using the media_upload function but when I try to get the STATUS of the media_id I get the following error:
[code] => 38  ,    [message] => **media parameter is missing.**

I need to use the STATUS because if I try to FINALIZE the media I get a 'processing_info' in the reply saying the media status is 'pending', so I need to check the status until the status is

[2019-08-21 16:50] xx461037 opened #253 "Codebird PHP direct_message/new"
I've been using Codebird for php for Twitter since it came out and now have version 3-1-5.
With this I've been trying to develop a direct messaging app and seem to have a whole lot of problems I can not figure out how to fix, thus I need your input on how to solve these issues.
Here is my code:
    public function __construct($CKey,$CPriv,$APIK, $APIP,$ForWho = null){
        ob_start();
        $

[2019-08-22 17:23] xx461037 commented on #253
I think I know where the problem is. In codebird, the function _getSignature breaks the array you send down to a string, but when you have a multidimensional array, which seems to be needed for Twitters new direct_messages/new command, codebird doesn't recognize the multidementions and for the event portion just gives blank array without any of the values within it.

I also tried using the old cod

[2019-08-31 16:24] xx461037 commented on #253
It seems that this problem has been corrected in the new beta version of Codebird.

[2019-09-01 21:21] xx461037 commented on #253
Note to all. When you want to do the direct message events new and use a picture do not use the media_category field. Even though you can use it to tweet a pic, I've found that for DM's it is not as useful.

[2019-09-01 21:47] DrewMasci opened #254 "oauth_requestToken() and PHP 7.3"
It's taken a little while to work out but PHP 7.3 seems to always return a server error with this function.

I'm uncertain if it's any other function but the status from twitter is always 500. PHP 7.2 works perfectly fine so I assume there's a dependency that isn't listed and needs to be set up for 7.3 that's natively a part of 7.2.

[2019-09-01 21:52] mynetx commented on #254
Any help with this appreciated, and we're ready to update ze docs accordingly

[2019-09-01 21:53] mynetx commented on #253
@xx461037 Any help with parsing a multidimensional array is appreciated! Can you write a test for it that will fail until we fixed it correctly?

[2019-09-01 21:54] mynetx commented on #251
@mistafi Are you using the JS or the PHP version?

[2019-09-02 02:56] xx461037 commented on #251
Actually I’m using php 7.3. As for your request to write a test for parsing a multi-dimensional array… Is that for the php or JS? I ask since the Codebird 4.0.0 beta seems to be working fine on that. Or at least working fine for the direct_messages/events/new function. So which are we talking about here?

From: J.M. Rütter [mailto:notifications@github.com]
Sent: Sunday, September 01, 2019 5:55 PM

[2019-09-02 15:06] DrewMasci commented on #254
I'm now getting the issue with PHP 7.2 as well... I'm left unsure why I'm getting these 500 errors. Could be something Twitter's side.

[2019-09-03 03:00] xx461037 commented on #254
Just found out that  If your callback_url is incorrect you will get an httpstatus error 500 message when calling POST oauth/request_token. Also take a look at these comments I found for you…

https://twittercommunity.com/t/intermittent-failures-for-request-and-access-tokens/72424

From: Drew [mailto:notifications@github.com]
Sent: Monday, September 02, 2019 11:06 AM
To: jublo/codebird-php
Cc: Subs

[2019-09-04 08:26] dmfmd opened #255 "Codebird had been working but now giving an error"
These lines of code which had been working fine until recently are now giving an error

$reply = $cb->statuses_updateWithMedia($params);
$reply = $cb->statuses_update($params);

Unknown SSL protocol error in connection to api.twitter.com:443

[2019-09-04 14:38] xx461037 commented on #255
I believe that in order for you to get errors now, which were not present before, something had to change. So what changed? New version of Codebird? New version of PHP? Some editing changes to the code? What????

[2019-09-05 07:51] dmfmd commented on #255
Thanks. It seems to be something to do with localhost. The code itself is still working.

[2019-09-23 09:47] edent opened #256 "Link in repo description is broken"
Currently points to https://www.jublo.net/projects/codebird/php - which 404s.
![Screen Shot 2019-09-23 at 10 47 24](https://user-images.githubusercontent.com/837136/65416376-94824b80-ddef-11e9-8f8a-e9ea941b4e77.png)

[2019-10-14 10:46] kaur-sandeep opened #257 "how to pass URl in status?"
We are using codebird-php sdk to send feed data of my website to twitter account.
we are using below code:-
$params = array(
    'status' => $message.' '.$price.' https://www.caradonna.com/specials',
    'media_ids' => $mediaID
);
//post the tweet with codebird
$reply = $cb->statuses_update($params);
we want to send URL with status.Page URL can be long. Kindly Tell us the solution how we can send

[2019-10-19 09:26] m7ammad7assan commented on #252
did you solve it?

[2019-10-31 22:08] aldobarr opened #258 "CACert Issue"
https://i.imgur.com/H1vjy2I.png

https://i.imgur.com/7NvaTay.png

Anyone care to explain?

[2020-03-06 07:05] ponnnarasi14 opened #259 "how to schedule tweets to go live at later include text,images,gifs and videos using ads api?"
i am beginner for twitter ads api please help me to schedule post on twitter.

[2020-04-01 09:33] ben-gooding-hub opened #260 "Video upload status GET request is broken"
I pass the correct parameters for checking the status for a video upload as:
[code]
"message" : "media parameter is missing."

as the response, but trying what should be an identical call in postman gets the correct response of it finished either successfully or fail, rather than missing parameter.

My only thought is it is probably trying a POST request when it should be a GET request.

[2020-05-06 14:07] twnku opened #261 "How to retrieve image from direct messages and upload it as tweet directly?"
ive retrieve a image url from direct messages using this
[code]
it will show `https://ton.twitter.com/i/ton/data/dm/123/123/filename.jpg` after

then i use this to upload the media
[code]
but it is not working
and the error log shows
[code]

how to solve this? iam still confused using this library

[2020-06-16 02:54] twnku opened #262 "Is this working with Twitter Labs?"
i was looking for api library that works with Twitter Labs (https://developer.twitter.com/en/account/labs)
does this one works with that?

[2020-09-05 19:32] JoseLuisFriedrich commented on #252
same here

[2020-10-07 07:27] shreateh opened #263 "can i get retweets and replies via tweet ID?"

[2021-03-17 12:19] EliasDeVos commented on #260
Hey,
I also had this issue. But if you look in the source code you can see that you can pass a parameter to override the HTTP method.
so doing this:
`            $reply = $cb->media_upload([
                'command'       => 'STATUS',
                'media_id'      => $media_id,
                'httpmethod'    => 'GET'
            ]);`
Gives the status back

[2021-04-26 01:59] lifeboatpres opened #264 "help/configuration"
$reply = (array) $cb->help_configuration();

is now giving me:

Array
(
    [httpstatus] => 200
    [rate] => Array
        (
            [limit] => 15
            [remaining] => 11
            [reset] => 1619402027
        )

)

What happened to the regular output of this resource?

[2021-04-26 07:37] cristianurdea commented on #252
any solution here?

[2021-05-18 13:01] Hasan-Ikram opened #265 "Get a User Tweets within a Date Range"
Hi,

Is there any way that i can Get a User Tweets by giving date range? By Since and Untill parameters just like Facebook is giving in its api.

[2021-06-18 14:26] chrisminett commented on #264
I'm now getting HTTP 410 Gone for this endpoint, although others still seem to work fine for my app.

According to Twitter error docs, 410 should indicate a resource which is no longer available:
https://developer.twitter.com/en/support/twitter-api/error-troubleshooting

However I can't see any mention of this endpoint being deprecated:
https://developer.twitter.com/en/docs/twitter-api/v1/develope

[2021-10-05 19:10] edent opened #266 "`Codebird\CodebirdMediaException: Downloading a remote media file failed` - upgrade cacert.pem"
If you've been having issues uploading images to Twitter, or have other connectivity issues, these can be fixed by updating to a modern version of `carcert.pem`.

See https://curl.se/docs/caextract.html - or download directly from https://curl.se/ca/cacert.pem

I'll send a pull request - but I think this excellent library has now been abandoned.

[2021-10-06 07:52] edent commented on #264
This API has been retired. See https://developer.twitter.com/en/docs/twitter-api/v1/developer-utilities/configuration/overview

[2021-10-13 08:21] #266 closed, assigned to nobody

[2021-10-13 08:21] #264 closed, assigned to nobody

[2021-11-10 04:01] freeskaro opened #269 "codebird not working for https:"
I copied all my files for socia-feed.js which uses codebird for an old http website to a new https and  it stops working. I get a 'Mixed Content error'. Then, I get a new set of keys from Twitter and reinstall bower components and get CORS errors. I am not sure what to do.

[2021-11-22 21:48] shaneiseminger opened #270 "Packagist hack?"
Not sure what's happening here, but it doesn't look right.

Composer installs started failing today saying that an existing commit doesn't exist.

We have had this package installed for years:

https://packagist.org/packages/jublonet/codebird-php

I see that the page seems to list active data for the project, but it links to this repo, which is empty but for a single file:

https://github.com/jubl

[2021-11-23 12:15] dave2309 commented on #270
Same here

[2021-11-23 12:26] mynetx commented on #270
@shaneiseminger @dave2309 Thanks for notifying us about this issue. We’ve updated Packagist to reflect the current GitHub repo URL.

Here’s what happened:
We had renamed our GitHub organisation years ago, and there had been an automatic redirect in place, sending users from `jublonet` to `jublo`. However now someone created a new GitHub organization called `jublonet`, clearly with the intention of

[2021-11-23 12:52] dave2309 commented on #270
@joshuaatkins thanks for your reply.
Still packagist is only showing `jublonet/codebird-php`, instead of `jublo/codebird-php`
Any idea how long that would need to propagate (if necessary)?

[2021-11-23 12:57] mynetx commented on #270
@dave2309 The package should already have the updated source URL from GitHub. I did a test install on a blank folder, and Composer did pick up the correct files for me.

The Packagist package name itself cannot be updated for (similar) security reasons, and the only path for us would be to declare the `jublonet/*` packages as abandoned and superseded by newly submitted `jublo/*` packages.

[2021-11-23 13:00] dave2309 commented on #270
@mynetx thanks, working now...

[2021-11-23 15:30] shaneiseminger commented on #270
Ah, makes sense now. Going to flag the user doing it as s/he/they is clearly trying to do that with a lot of repos and it also clearly opens a huge security hole through which any kind of code could be injected.

[2022-01-14 12:46] CodeRevolutionPlugins commented on #221
Hey guys, any ETA on the v2 update? Now Twitter requires additional API review to get access to v1.1... [https://developer.twitter.com/en/docs/twitter-api/getting-started/about-twitter-api#v2-access-leve](https://developer.twitter.com/en/docs/twitter-api/getting-started/about-twitter-api#v2-access-leve)

[2022-07-03 20:28] #263 closed, assigned to nobody

[2022-08-26 15:04] roberttolton commented on #252
Anyone found a solution?

[2022-08-26 15:13] roberttolton commented on #260
Just had this same issue, really needs referencing somewhere..!

[2022-09-01 23:45] kanonenpeter opened #271 "Restricting who can reply to a tweet"
New tweets sent by Codebird are automatically in "everyone can reply" mode.

Is there a parameter to change that to "peoply you follow can reply" mode?